[2015-02-11 20:05] timelyportfolio opened #2 "get gylph error with ly_crect"
cross-posted on mailing-list since not sure where to post.

I thought a correlation plot based on the periodic table would be a good example, but I run into **this error**.

[code]

and separately get **no hover on the points** (but the periodic table works).

The code to reproduce is here.  The `ly_points` works fine, but not `ly_crect`.

[code]

and I might just be using `ly_crect` incorrectly,

[2015-02-11 20:42] hafen commented on #2
Thanks for the report.  I have addressed the `crect` issue and hover works with that.

However, I can't get hover to work on points.  If you first convert x and y to integer, then hover works fine.  I don't know if this is an issue with categorical axes.  I think there are some issues with categorical axes I am not aware of, for example, a possibly related issue is that none of the zoom tools work

[2015-02-11 20:46] bryevdv commented on #2
There should not be any issues with hover and categorical axes. Regarding pan/zoom I just pushed a PR to fix that.

[2015-02-11 20:51] timelyportfolio commented on #2
I found this old issue https://github.com/bokeh/bokeh/issues/463, but looks like it had been resolved.

I can confirm `crect` working now on my end for both render and hover.

[code]

[2015-02-11 21:05] hafen commented on #2
Glad the crect is working working.

@bryevdv, yes I am puzzled - nothing changes in the way the model is put together for rect vs points (points is basically a wrapper around all the different markers).  I could send the model JSON if that is useful for quickly picking out where I might be doing something wrong.

Along those lines, when you start playing around in R, I hope to push some docs up so

[2015-02-11 21:07] hafen commented on #2
@timelyportfolio, this example brings up the importance of improving the theme system so you have a bit more control over the mappings of variables to colors / sizes.  Of course you can manually compute the colors and sizes you want and send them, but it'd be nice to control through the theme.  I'll post an issue about this soon.

[2015-02-11 21:08] bryevdv commented on #2
Theming is an area where improvements directly to BokehJS would benefit everyone. :)

[2015-02-11 22:08] timelyportfolio opened #5 "add more examples"
I started working through some of the `ggplot2` examples and doing the equivalent in `rbokeh` if it helps fill in the document examples.

https://gist.github.com/timelyportfolio/8300c43ac43d772600df

[2015-02-11 23:29] timelyportfolio commented on #5
Also added some lattice examples (from this [book](http://www.amazon.com/Lattice-Multivariate-Data-Visualization-Use/dp/0387759689/ref=cm_cr_pr_product_top) ) and modelled after these examples in rCharts+polycharts http://timelyportfolio.github.io/rCharts_lattice_book/polycharts_versions/gallery/figure1_02.html

[2015-02-12 04:22] timelyportfolio opened #6 "grid_plot `byrow` does not seem to affect result"
Using your splom example,

[code]

I get the same result, where I would expect to get something like `matrix`.

[code]

[2015-02-12 18:26] hafen commented on #5
This is great!  I'm traveling and in meetings - will get on and make more comments on this and others in a bit.

[2015-02-12 18:46] timelyportfolio opened #7 "named lists do not work with grid_plot"
Not necessarily a bug, but probably should be documented that named lists don't work in `grid_plot`.  I guess could easily `unname` any list passed as `x` in `grid_plot`.

[2015-02-12 19:55] timelyportfolio opened #8 "bar chart"
I did not see how to make a bar chart, so I assume it is not possible.  If not, I think a bar chart would be nice.  I know bokeh supports bars http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#bar.

[2015-02-13 17:21] hafen commented on #7
Good catch.  Yes, let's add an `unname`.  I can do that while I address #6.

[2015-02-13 17:26] hafen commented on #5
These are great examples.  I'm wondering if we should set up a gallery type of thing.  I think something like bl.ocks.org would be cool - a collection of gists that generate a gallery.  What do you think?  Or going through the lattice and ggplot book examples might make for a good set of blog posts.

This exercise can also serve the purpose of helping us make note of shortcomings and can be the so

[2015-02-13 17:29] hafen commented on #8
Yes this is one I didn't have time to add.  We need a good robust `ly_bars()`.  @saptarshiguha, is this something you would like to work on?  Basically we need a function that will translate the input appropriately into rect glyphs to draw the bar chart.

[2015-02-13 17:35] hafen opened #9 "Support full control over` legend"
Currently just the default legend settings are used and the user has no control.  We want to provide full access to the legend model:

http://bokeh.pydata.org/en/latest/docs/reference/models.html#legend

To provide full options, this would be through a new pipable function `legend(fig, ...)` where `...` are the legend options.  But maybe also expose the most important argument `orientation` as an

[2015-02-13 17:36] hafen opened #10 "Add `ly_area()` layer function"
To get an area chart.

[2015-02-13 17:37] hafen opened #11 "Investigate ServerDataSource"
One of Bokeh's coolest features is streaming data with ServerDataSource.  We need to explore this and see how we could make it available in rbokeh.

[2015-02-13 17:39] hafen opened #12 "Make `ly_boxplot()` more robust"
`ly_boxplot()` was put together pretty quickly.  It needs to be made more robust to allow putting the categorical variable on either axis, coloring of the boxes, etc.

[2015-02-13 17:40] hafen opened #13 "Support for click to open URL"
This is a newly released feature in Bokeh that we need to support.

[2015-02-13 17:41] hafen opened #14 "Support GMap glyph"
A python example is here:

https://github.com/bokeh/bokeh/blob/f8120c44c504f51a8a4f30024330b2c248817256/examples/glyphs/maps.py

[2015-02-13 17:42] hafen opened #15 "Update to Bokeh 0.8 rc and make sure things work"

[2015-02-13 17:47] saptarshiguha commented on #8
I'll give it a shot. Will be slow given other commitments.

[2015-02-13 17:51] timelyportfolio commented on #15
I have built and tested locally. Want me to submit pull to save you the build step?

[2015-02-13 17:54] timelyportfolio commented on #8
This is the Python equivalent https://github.com/bokeh/bokeh/blob/master/bokeh/charts/builder/bar_builder.py, correct?

[2015-02-13 17:58] hafen commented on #15
Cool!  Did everything in rbokeh still work?  It looks like some axis things have changed, etc.  Can we put this in a separate branch just to make sure everything works before it's in master?

[2015-02-13 18:02] timelyportfolio commented on #15
Sure, I have put here for now https://github.com/timelyportfolio/rbokeh/tree/fix/update-bokehjs.  I'll run through the tests/examples again to make sure everything working as expected.

[2015-02-13 18:03] hafen commented on #8
@timelyportfolio - yes, that's correct.  @saptarshiguha, if you're pretty busy right now, that's ok - there will always be plenty of interesting things to work on :).  @timelyportfolio, what kind of bandwidth do you have for contributing?  There will be a ramp-up cost for sure (I should start a wiki page that describes how some things work), but hopefully once the design is clear, things should be

[2015-02-13 18:05] timelyportfolio commented on #8
I have a little bit of time and should be able to work on it.  Do you want this in before release?  What is your timeline for release?

[2015-02-13 18:09] abresler commented on #5
Yes!!  You can absolutely  use this:

http://asbcllc.com/blog/2015/february/happy_valentines_day/

Have more coming too

--
Alex Bresler

ASBC LLLC
asbcllc.com
917-455-0239

abresler@asbcllc.com
@abresler
On Feb 13, 2015 12:26 PM, "hafen" <notifications@github.com> wrote:

[2015-02-13 19:48] #14 closed

[2015-02-13 19:52] hafen commented on #8
I think the idea is to release when 0.8 is officially announced, which is sometime next week, right, @bryevdv ?  If you think it's doable in that short of a time frame, then it would be great.  But if not, it's fine - I think it will be okay to release something that doesn't have everything in it that we'd like right off the bat.  I'm creating a "release" milestone now.  For sure we want to work w

[2015-02-13 19:57] hafen commented on #15
Great.  I think I'll create an "initial_release" branch here that we can merge this in with and all other work on issues I've flagged on the "initial release".  Does that sound good?  I'm a bit new to well-organized collaboration on github.

[2015-02-13 19:59] hafen opened #16 "Support full control over axes"
This will be helpful for GridPlot, but very useful in general for finer control over axes.  Should be as simple as making the following parameters options in `x_axis()` and `y_axis()` and adding them to our model representation:

http://bokeh.pydata.org/en/latest/docs/reference/models.html#axis

[2015-02-13 20:09] bryevdv commented on #8
Yes Bokeh 0.8 will be released on the morning (CST) 17th. In general there is no need to sync up releases, and for this one in particular, whatever is ready will be fantastic!

[2015-02-13 20:14] hafen commented on #8
Sounds good.  Yeah I think after the initial release, we'll just release as things move along.  But I want to make sure we're making use of 0.8 for the initial.

So @timelyportfolio , since the 17th is soon and we should be making sure everything works with 0.8, we can push this one out to after initial release.

[2015-02-13 21:28] timelyportfolio commented on #16
I think I'll need this for the in development `ly_bar` #8

[2015-02-13 21:33] timelyportfolio commented on #15
Sounds reasonable and understandable to me.  I have run all the examples I could find and have not seen any problems with the newest bokeh.js

[2015-02-14 00:26] timelyportfolio commented on #8
@hafen, here is what I [have so far](https://github.com/timelyportfolio/rBokeh/tree/feature/stats_bar) (ugly and embarrassing), but it's something.  No stacks, and I don't think anyway to label the axis properly.

[code]

[2015-02-14 09:29] hafen commented on #8
Thanks!  Looks like a good start.  I'll take a closer look Monday.

[2015-02-14 09:29] hafen commented on #5
@abresler, that's beautiful :)

[2015-02-17 05:38] #13 closed

[2015-02-17 05:38] #15 closed

[2015-02-17 05:38] #16 closed

[2015-02-17 16:00] timelyportfolio commented on #16
These changes look great.  Do you have any additional examples/tests?  I can try to make some once I get a handle on all of them.

[2015-02-17 16:01] bryevdv commented on #15
FYI 0.8 final is up on CDN now: http://cdn.pydata.org/bokeh/release/bokeh-0.8.0.min.js

[2015-02-17 16:04] timelyportfolio commented on #8
Will definitely need to push this out past initial release.  Still not sure the axis labelling will be possible, but need to work through the most recent batch of pulls to see how to add a custom axis and hide the default axis.

[2015-02-17 16:09] timelyportfolio commented on #15
I think our version is current, but to make sure, @hafen, want me to do another pull with this exact build from the cdn?

[2015-02-17 16:11] hafen commented on #15
Thanks @timelyportfolio.  I just pulled the final from the CDN and pushed to my repo.  Also fixed #6 and #7.  I will merge when tests pass.

[2015-02-17 16:12] hafen commented on #8
Yes sorry I was going to give this a deeper look yesterday and got caught up in other things.  Sorry!  I'll take a look and see if I can save you some effort in looking through the code.

[2015-02-17 16:14] timelyportfolio commented on #15
awesome.  will watch and check/test on mine as soon as I see it merged.

[2015-02-17 16:16] hafen commented on #16
I should have added some tests with some of the different settings.  You can see what is possible by looking at the "Additional parameters" section in `x_axis`: http://hafen.github.io/rbokeh/rd.html#x_axis.  To get at these, you need to explicitly add `x_axis()` to your figure.  The thinking is that you get the most basic defaults for axis control in the call to `figure()` and if you want any cust

[2015-02-17 16:17] #6 closed

[2015-02-17 16:19] timelyportfolio commented on #5
Ok, here are a couple more examples.

https://gist.github.com/timelyportfolio/60c9676395f541d1d743

[2015-02-17 16:23] hafen commented on #7
@timelyportfolio, would you mind taking a look at this one to make sure the fix addresses what you were seeing?  I simply added `unname()`.

[2015-02-17 16:26] timelyportfolio commented on #7
sure, I'll check it out now.  I got this when I used `sapply` instead of `lapply`.

[2015-02-17 16:28] hafen commented on #7
Actually hold on for a few minutes.  It looks like Travis misled me into thinking things were good when I merged.  Need to check something quickly.

[2015-02-17 16:39] timelyportfolio commented on #6
can confirm this works on my end also.  thanks.

[2015-02-17 16:44] timelyportfolio commented on #7
Also, good now.  Will close.

[2015-02-17 16:44] #7 closed

[2015-02-17 17:26] timelyportfolio opened #22 "line type not getting passed through with `ly_density`"
I could easily be doing something wrong, but taking the simple `density` example from `?density`, the `type` parameter does not seem to be passed through to `ly_lines`.

[code]

![image](https://cloud.githubusercontent.com/assets/837910/6233378/eea184de-b697-11e4-9d3c-45d3d3c89c42.png)

[2015-02-17 17:29] timelyportfolio opened #23 "remove new tap tool from defaults"
Should we take out the new tap tool from default tools?

[2015-02-17 17:31] hafen commented on #23
Yes good call.  The only behavior of tap tool is currently tap to open url which is handled through the `url` parameter.  I'm working on a few fixes and will put this in right now.  Thanks.

[2015-02-17 18:06] hafen opened #25 "cleaner shiny integration"
@timelyportfolio, could you look into making embedding into shiny more straightforward?  When running the scaffolding with htmlwidgets, I get the following boilerplate:

    #' Widget output function for use in Shiny
    #'
    #' @export
    rbokehOutput <- function(outputId, width = '100%', height = '400px'){
      shinyWidgetOutput(outputId, 'rbokeh', width, height, package = 'rbokeh')
    }

[2015-02-17 18:11] hafen commented on #5
Cool!  Here's an example of how to use some of the fine axis control in your last example:

    p %>%
      ly_points(
        as.character(source), as.character(target), MisLinks, size = 3, color = value
      ) %>%
      x_axis(major_label_text_font_size = "6pt", major_label_orientation = 90) %>%
      y_axis(major_label_text_font_size = "6pt")

[2015-02-17 18:12] hafen commented on #5
Need latest for that to work.

[2015-02-17 18:58] #22 closed

[2015-02-17 18:58] #23 closed

[2015-02-17 19:54] timelyportfolio commented on #25
Sure, forgot I said I would do that.

[2015-02-17 19:57] timelyportfolio commented on #5
works great.  Love it.

[2015-02-17 20:09] kaneplusplus commented on #5
When I click on p1 a new tab opens with the original graph. The old tab has p1 with the point I clicked on highlighted. Is this the expected behavior? Shouldn't I stay on the same tab and see only the point I clicked on highlighted?

[2015-02-17 20:12] timelyportfolio commented on #5
Try to reinstall to get newest version that disables tap tool

[2015-02-17 20:12] hafen commented on #5
@kaneplusplus, none of these examples should have the tap/click tool.  I accidentally made every plot have taptool by default in a version from earlier today.  If you install the latest, you should not see tap behavior anymore.

I need to add an example for using click to open url - will do this soon.

Ryan

[2015-02-17 20:12] hafen commented on #5
What @timelyportfolio said :)

[2015-02-17 20:16] kaneplusplus commented on #5
OK, thanks.

[2015-02-17 21:13] hafen commented on #5
@kaneplusplus, since I know tap is an important use case for you, here's an example.  The basic idea is to have a variable with the url you want and then set `url="@variable_name"`.  Technically you should be able to do something like `url="http://something/@variable_name"` but I don't quite understand all the details yet.

    ## if not installed:
    # devtools::install_github("hafen/housingData

[2015-02-17 21:20] kaneplusplus commented on #5
@hafen Nice! Thanks for the example.

[2015-02-17 21:41] timelyportfolio opened #29 "`grid_plot` changes manual `xlim` with `same_axes=T`"
I noticed that `grid_plot` removes the forced `xlim` provided as a parameter to `figure()`.

[code]

![image](https://cloud.githubusercontent.com/assets/837910/6237812/92c4e93e-b6bb-11e4-9e26-64076c42bbb2.png)

[2015-02-17 22:17] hafen commented on #29
I'm getting the following error:

    Error in filter(Chem97, gender == g) : object 'gender' not found

[2015-02-17 23:09] timelyportfolio commented on #29
Sorry, this needs `library(dplyr)` or you can change the `filter` to `subset`

[2015-02-18 15:49] timelyportfolio opened #30 "ly_text gives `[Object object]` when used for labelling"
I thought this little [example](http://stats.stackexchange.com/questions/31726/scatterplot-with-contour-heat-overlay) would be great to demo `rbokeh`, but I get an error with `ly_text`.  I can chase it down but wanted to make sure it wasn't something simple.

[code]

![image](https://cloud.githubusercontent.com/assets/837910/6250442/7606b01e-b753-11e4-8e2f-88a5fefe1c52.png)

[2015-02-18 16:09] timelyportfolio commented on #30
Never mind, enclosing the text in `list( )` made it work.  For anyone that finds this and wants to see the code that works.

[code]

[2015-02-18 16:09] #30 closed

[2015-02-18 17:36] hafen commented on #30
Good catch - this probably has to do with how RJSONIO handles scalars, which means this will crop up in other places as well.  I'll open up an issue specific to this.

[2015-02-18 17:36] hafen opened #31 "Ensure scalar data values are properly serialized to JSON"

[2015-02-18 17:38] hafen opened #32 "Implement GMapPlot"

[2015-02-18 18:24] hafen commented on #32
@bryevdv, I think I saw on the mailing list that GMapPlot is being held back for a bit?  Should I hold off on adding it to rbokeh?  It will be a killer feature.

[2015-02-18 19:59] bryevdv commented on #32
It's only held back from Bokeh.charts it works fine from low level (but usage may change some soon)

[2015-02-19 17:29] timelyportfolio opened #33 "palette does not seem to pass through with `ly_image`"
The`palette` parameter does not seem to be working, or I'm just screwing up.  In either case, could you please confirm?  I am using these [palettes](http://bokeh.pydata.org/en/latest/docs/reference/palettes.html) and these [lines from rbokeh](https://github.com/bokeh/rbokeh/blob/6fa59d39e445c7dfe6e087a62117875956b846b3/R/themes.R#L107-L314) as reference.  I get no error like I would with `ly_hexbi

[2015-02-19 19:02] ramnathv commented on #25
@hafen can you elaborate on what you mean by needing dedicated functions for embedding? At a very basic level, the default binding supports refresh of the json structure triggering a redraw. For two-way exchange of information, one would need to plug into the callbacks provided by `bokeh`. I would be happy to talk this through with you and @timelyportfolio, if it would be easier.

[2015-02-19 19:09] hafen commented on #25
@ramnathv, I was referring to the fact that `rbokehOutput` and `renderRbokeh` somehow got left out of the package back from when I originally made the scaffolding, so I want to add them back in and make sure they work.  Probably as trivial as putting those functions in and documenting them, although there may need to be something special done because of the way I'm handling `print`.

But beyond th

[2015-02-19 19:10] ramnathv commented on #25
Ah. I get it now.

[2015-02-19 19:25] timelyportfolio commented on #25
and the `as.tags` is a little different with `rbokeh` so I need to work through that also

[2015-02-19 21:01] hafen opened #36 "Infer shape parameter for hexbin from specified width and height?"
The `shape` parameter in `ly_hexbin` is used to make sure hexagons have the right aspect ratio in the plot.  This could be automatically inferred from the specified `width` and `height` if not specified.

Another good default for `ly_hexbin` would be to not allow resize (or it would be nice to have a resize tool option that preserves aspect ratio - like holding shift while resizing in photoshop).

[2015-02-19 21:04] hafen opened #37 "Give a message/warning when adding a layer with a very large number of points?"
People may not realize that these aren't raster graphics and that every single point is being sent to the browser, which can have an effect on performance.  It might be good to have a threshold above which a warning or message is given, maybe suggesting alternatives (use quantiles, hexbins, image plots, etc.).

[2015-02-19 21:44] ramnathv commented on #25
Ideally, it would be good to have `rbokeh` work with the standard print mechanism so as to avoid issues with internal API changes in `htmlwidgets`. I will go over the code to see what necessitates the deviation from the standard printing mechanism provided by `htmlwidgets`.

[2015-02-19 21:47] timelyportfolio commented on #25
`rbokeh:::plot.BokehFigure` and `rbokeh:::plot.BokehGridPlot` get it where it can be used with `htmltools`.  This [gist](https://gist.github.com/timelyportfolio/60c9676395f541d1d743) demonstrates that.  I think just need to define as.tags.bokeh .

[2015-02-19 22:00] hafen commented on #25
Yeah I think it goes back to [this discussion](https://github.com/ramnathv/htmlwidgets/issues/59), with the idea of creating the htmlwidget object from the start instead of at the end when print is called.  I'm not sure how easy that would be, but worth a look.

[2015-02-19 22:20] ramnathv commented on #25
I remember that discussion. I will take a look to assess how easy or difficult it is to accomplish that.

[2015-02-20 14:52] jrowen opened #38 "text layer shows [object Object] for single row data.frame"
This layer is not showing text as expected when a single row `data.frame` is used
[code]
but adding another row works as expected
[code]
This was an attempt to annotate a single point on a chart.

[2015-02-20 15:16] timelyportfolio commented on #38
I ran into this also, and my fix required forcing `RJSONIO` to work correctly.  Try `text = list(text)`.

related to #30

[2015-02-20 16:45] jrowen commented on #38
That did it, thanks.  Great package, excited to try out the shiny integration when available.

[2015-02-20 16:45] #38 closed

[2015-02-24 16:05] smartinsightsfromdata commented on #25
@hafen @timelyportfolio  any news on making the library working with shiny?

[2015-02-24 23:11] seandavi opened #40 "Pandoc error when trying to include rbokeh plot in rmarkdown document"
I have a small block in an Rmarkdown document in which I am trying to include an rbokeh plot.

[code]

I get this error when I try knitting the document.  On the file system, this file does not exist.  In fact, even the images folder does not exist.

[code]

And sessionInfo():

[code]

Any suggestions?

[2015-02-24 23:18] hafen commented on #40
Interesting.  Haven't seen this before.  Could you provide the command you are using to knit the document?

[2015-02-24 23:23] seandavi commented on #40
Thanks, @hafen, for the quick response.  Here are some more details.

[code]

[2015-02-25 00:04] timelyportfolio commented on #40
I ran into the problem today also.  I think I know a fix and will try to push tonight.

[2015-02-25 03:41] hafen commented on #40
Thanks for the detail.  I see what the issue is now.  At the moment, to make it work, you need to have the following in your front matter:

    ---
    output:
      html_document:
        self_contained: no
    ---

At the least, this should be documented.  But I suppose we should make self_contained possible as well.  @timelyportfolio, is this what your fix is addressing?  Do you have a feel for

[2015-02-25 03:54] timelyportfolio commented on #40
Yes this is the issue.  I just want to understand how many files.

[2015-02-25 03:59] hafen commented on #40
Maybe it's just the images (see [here](https://github.com/ramnathv/rbokeh/tree/master/inst/htmlwidgets/bokeh))

[2015-02-25 04:06] timelyportfolio commented on #40
I think it is just the icons. Was not able to look tonight.  Can fix first thing in the morning.

[2015-02-25 05:26] hafen commented on #40
Sounds great.  I looked into it some more.  I just kept finding files and moving them to where it was expecting them - see the branch [here](https://github.com/hafen/rbokeh/tree/feature-self-contained).  But even then I get this error:

[code]

[2015-02-25 11:48] seandavi commented on #40
Adding this YAML front matter works to get a plot.  Thanks to you both for looking into it.

[code]

I'm curious what it is going to take to get things back to `self_contained: yes`.

[2015-02-25 15:20] timelyportfolio commented on #40
@hafen, that is very strange that pandoc / rmarkdown is trying to base encode the svg namespace.  I'll look around.  We might be able to remove, but don't think this is the best option.

[2015-02-25 15:32] timelyportfolio commented on #40
Ok, I think I got it using help from http://stackoverflow.com/questions/10768451/inline-svg-in-css.  We can base64encode this ourselves.  Will push a branch shortly.

[2015-02-25 15:59] timelyportfolio commented on #40
Ok, with the pull, I think it is all set.

[2015-02-25 22:04] timelyportfolio commented on #25
looks like this https://github.com/bokeh/bokeh/issues/554 is causing trouble with htmlwidgets.  I'll keep working on it.

[2015-02-25 22:34] timelyportfolio commented on #25
@hafen @ramnathv Since bokeh.js includes `jQuery`, I'm not sure this will ever work as expected.  I'm not sure if a jquery-less build of bokeh.js is possible.  https://github.com/bokeh/bokeh/issues/554

[2015-02-25 23:48] bryevdv commented on #25
Are we using `.noconflict()` incorrectly? Or does it simply not solve this problem in the way I thought it would? Shiny integration is definitely important, so we will figure something out.

[2015-02-26 06:56] paullemmens opened #41 "ly_lines() gives error when using color parameter"
Following the online documentation, I think that the color argument of `ly_lines()` should work in the same way as for `ly_points()`. However, I get a funky error message in the former case.

    # default example works.
    figure() %>% ly_points(Sepal.Length, Sepal.Width, data = iris, color = Species)

    # substitute ly_lines for ly_points and it throws error.
    figure() %>% ly_lines(Sepal.L

[2015-02-26 07:13] hafen commented on #41
Thanks for the report.  You're correct that it should behave in the same way.  I'll check it out, although I may be a bit slow as I'm in all-day meetings for the next few days.  If you need an immediate fix, you can pass hard-coded colors:

[code]

Although this should kick out a legend as well.

[2015-02-26 07:16] hafen commented on #40
Thans @timelyportfolio.  For some reason I can't see the exactly what was changed - probably because it's a one-line minified css.  It looks like this is something we would need to modify every time we update BokehJS?  If so, maybe we should see if they can make the change upstream in BokehJS?

[2015-02-26 08:15] benmarwick opened #42 "custom scales on axes"
With ggplot2 I can do `scale_y_continuous(trans=log2_trans())` to transform the scale of the y-axis to base 2 logs. How can I do this with rbokeh? All I can see is `y_axis(log = TRUE)`
thanks!

[2015-02-26 14:55] timelyportfolio commented on #40
Oh, I should have thought about that.  I'll separate the commits by new line where I made the change and I think it will then show up.

@bryevdv , thoughts on base64 encoding the svg filter in bokeh.css [lines](https://github.com/bokeh/bokeh/blob/6bff365eb13e4a1288fa273700d40c3420137b9a/bokehjs/src/less/continuum.less#L85-L94)?

[2015-02-26 15:34] timelyportfolio commented on #40
well, it still does not show up cleanly, but the effect is on this [line](https://github.com/bokeh/rbokeh/blob/19ac668afe86bd0942e932bea8ae62dee72f11da/inst/htmlwidgets/lib/bokehjs/bokeh.min.css#L159)

we go from

[code]

to

[code]

There are a couple ways to do it, but in R, we can

[code]

and then change `utf8` to `base64` and replace the svg tag with the base64 value.

[2015-02-26 16:15] ramnathv commented on #40
You may also want to submit this issue to the `pandoc` github repo since this is something `pandoc` should be able to handle.

[2015-02-26 17:33] blaquans opened #43 "What is the command to export a graph to an independant HTML web page ?"
Is it possible to export an rBokeh graph to an independant HTML page ?

[2015-02-26 17:44] hafen commented on #43
That's a good feature request.  The ability is there - I will just need to add a few helper functions to make it easy.  Should be a quick easy addition - I'll do it soon.

[2015-02-26 19:32] jcheng5 commented on #25
@bryevdv I haven't looked too deeply into it, but it looks like you're calling `.noconflict()` instead of `.noconflict(true)`, it might be worth a try with the latter if you haven't already...?

[2015-02-26 19:36] bryevdv commented on #25
Yikes what a silly mistake if so. We will try that ASAP, although I am not sure how best to evaluate if it fixes the problem.

[2015-02-26 19:39] jcheng5 commented on #25
I'm sure between @timelyportfolio and I, we can figure out if it's fixed, if you can provide the bokeh.min.js.

[2015-02-26 20:59] bryevdv commented on #25
I can make it tonight and get it to you guys tomorrow.

[2015-02-26 21:55] bryevdv commented on #25
does this look reasonable?
[code]

[2015-02-26 21:57] bryevdv commented on #25
FWIW I am seeing that `window.$` already has a value, identical to the loaded by `require` which makes me think this is still not correct/sufficient.

[2015-02-26 22:13] bryevdv commented on #25
This seems to do the trick: http://requirejs.org/docs/jquery.html#noconflictmap will get you guys a version to play with tomorrow.

[2015-02-27 06:23] hafen commented on #42
Good request.  I'll put this in, hopefully tomorrow.  I think usage will be like `ly_axis(log = 2)`.

[2015-02-27 07:16] hafen commented on #43
Take a look at the new function `get_bokeh_html()`:

[code]

Is this along the lines of what you were thinking?  You'll have to place the `<head>`, `<div>` and `<script>` segments in their appropriate places.  This works but if there are suggestions to make it more convenient, let me know.

[2015-02-27 07:16] hafen commented on #41
Give this a shot now.

[2015-02-27 07:17] hafen commented on #33
Is this one closed?

[2015-02-27 09:25] #43 closed

[2015-02-27 09:25] blaquans commented on #43
Thanks for this nice feature.

[2015-02-27 15:54] #42 closed

[2015-02-27 16:06] hafen commented on #42
This should work now.  Usage can still be `log = TRUE` which will give you a base 10 axis, or `log = n` where n is a numeric base.

[2015-02-27 18:10] bryevdv commented on #25
Here is a file to test with:

http://103bb120a2d7eb904e9c-fdd35fa42705c38b8a1ea1dc55ea880a.r30.cf1.rackcdn.com/bokeh-rtest.min.js

We are still working through some test failures related to some jq add on shims but I think it should work well enough for  what you need.

[2015-02-28 00:07] benmarwick commented on #42
Thanks for the quick look. I'm not sure that it's quite working right. For example, with this code

[code]

I get this plot, and the upper y axis tick shows 10^1, or 10, yet the data values above the tick are only 5.2, 5.7, etc. So the tick marks seem a bit out.

![clipboard01](https://cloud.githubusercontent.com/assets/1262179/6423398/765881e8-be9a-11e4-988c-69a1e2f5436d.png)

[2015-02-28 03:53] hafen commented on #42
Yikes.  If you zoom in or out a little, it is correct.  But in between is a sweet spot that is way off.  I would guess that this is a BokehJS issue.  @bryevdv, does this look like something you have encountered before?

[2015-02-28 04:01] hafen commented on #42
See this gist to look at the model: https://gist.github.com/hafen/4529b7698943d52fc30a

[2015-03-02 05:41] jcheng5 commented on #25
I'll take a look at this tomorrow, thanks!

[2015-03-02 07:25] jcheng5 commented on #25
Thanks for your help @bryevdv. I just took a look and I'm not seeing the results I'm expecting from the bokeh-rtest.min.js file.

Try this in an otherwise-empty HTML file:

[code]

Open that file in Chrome, and in the JS console, evaluate `$` and `jQuery`. On the right hand of the output it'll show where the code comes from. In both cases you should see that it's coming from bokeh-rtest.min.js. Ho

[2015-03-02 07:39] jcheng5 commented on #25
@hafen @timelyportfolio: I was able to get a Shiny app to render, but only with the following fixes:

1. Replace `noconflict()` with `noconflict(true)` in bokeh.min.js, as mentioned in my previous comment
2. In my app I had to have my renderRbokeh expression return the result of rbokeh:::plot.BokehFigure; it was the only way I could figure out how to get an actual htmlwidget out of rbokeh. We can

[2015-03-02 16:08] bryevdv commented on #25
There was another last minute fix, and it is available in a dev build:

http://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

Using this build I was able to see that `window.$` is undefined. Can you try again with this new version of BokehJS?

[2015-03-02 17:11] hafen commented on #25
Thanks @jcheng5 and @bryevdv!  I'm battling a nasty bug right now and not firing on all cylinders, but I'll take a look soon.  @timelyportfolio, if you have the bandwidth and would like to go ahead and take a look at permanent solutions for Joe's fixes, that'd be great.  I suppose #2 brings up a question we've had before about a BokehFigure object also being an htmlwidget object from the start ins

[2015-03-02 20:02] kaneplusplus opened #47 "Should the zoom work for gmap?"
The map at http://hafen.github.io/taxi/gmap.html doesn't allow me to box zoom or wheel zoom. Is this by design?

[2015-03-02 20:09] timelyportfolio commented on #25
Thanks everyone for working so hard on this.  @jcheng5 & @ramnathv , is this as simple as defining `as.tags` for `BokehFigure` and `BokehGrid` that would just call https://github.com/bokeh/rbokeh/blob/master/R/print.R#L53-L68 and then use `as.tags.htmlwidget`?

[2015-03-02 20:18] bryevdv commented on #47
Wheel zoom was working for me (OSX/Safari). Box zoom is difficult with Google Maps because the GMaps API insists on preserving aspect ratio. We will have to find a way to improve this in BokehJS at some point soon.

[2015-03-02 20:24] kaneplusplus commented on #47
OK, thanks for the information. Do you want me to close this issue or should it be kept around as a "todo".

[2015-03-02 20:34] hafen commented on #47
@kaneplusplus , if you just do `gmap()`, is there still a zoom problem?  That will just give you a blank map.  I may have chosen an example with too much data.

[2015-03-02 22:46] kaneplusplus commented on #47
@hafen Yes, the problem is still there. Wheel zoom works on Chrome not Firefox. Box zoom works on neither.
[code]

[2015-03-02 23:06] jcheng5 commented on #25
@timelyportfolio `as.tags` wouldn't solve the problem for renderRbokeh, as we don't want to convert it to tags at that point--we want to grab the `x` value, dependencies, and some basic options, and send those to the client as JSON. So the widget object itself is what we want.

[2015-03-03 02:41] timelyportfolio commented on #25
Yes, @jcheng5 I'm not sure what I was thinking.  So, is a custom [`shinyRenderWidget`](https://github.com/ramnathv/htmlwidgets/blob/master/R/htmlwidgets.R#L259-L284) the only way to avoid requiring a user to call `plot.BokehFigure` or `plot.BokehGridPlot` inside their shiny server?

[2015-03-03 04:40] hafen commented on #47
Interesting.  You can leave this open because I need make it so box zoom cannot be a possible tool to use with gmap.  I'm not sure about the wheel zoom.

[2015-03-03 05:12] bryevdv commented on #47
There are a few potential avenues for a box zoom with gmap plots, they have just not been implemented. The first and simplest thing is to add an aspect-preserving mode to the box tool and require it for gmap plots. Next is to use the other gmap API function to reposition the map according to the box center (instead of the current center of the plot, like wheel zoom does). I had some issues getting

[2015-03-03 16:51] markcassar opened #48 "Should xlim reverse x axis scale?"
Great project! Thanks for developing.

I was expecting xlim=c(10,0) to reverse the x axis scale but the order seems to be ignored, though it will adjust the limits appropriately.

[2015-03-04 00:21] jcheng5 commented on #25
Yes but that's fine, the whole purpose of having render* functions in Shiny was to facilitate this kind of conversion.

Even better would be to have figure() return an htmlwidget in the first place, but I understand if that's not something you guys want to bite off now.

[2015-03-04 04:28] hafen commented on #25
So it sounds like making things htmlwidgets from the start will clean a lot of things up.  I'll start looking into this when I'm back to work.

[2015-03-04 06:29] timelyportfolio commented on #25
Up to you.  The main issue was the `jQuery` conflict.  This is more easily handled even in current form.

[2015-03-04 14:11] paullemmens commented on #41
I did an update using another call to `install_github()` but now I am getting an error message that function `figure()` can't be found:

    +   ly_lines(x = t.stamp, y = tee, fill_color = algo, data = d)
    Error in eval(expr, envir, enclos) : could not find function "figure"

Is this me being silly?

[2015-03-04 14:15] paullemmens commented on #41
So yeah that was my bad. Apparently there's a difference between `install_github('ramnath/rbokeh')` and `install_github('bokeh/rbokeh')` ... being puzzled.

But yes, this version's color parameter works!

[2015-03-04 19:53] hafen commented on #48
Thanks - good point.  I hadn't thought of that case.  This should be doable.  I'l work on it.

[2015-03-05 02:52] bryevdv commented on #48
I do believe just switching the start/end should work on the BokehJS side:

    http://jsfiddle.net/d9bva8Lp/1/

I think there may be some edge cases involving images that are broken but everything else should be fine.

[2015-03-05 02:54] bryevdv commented on #25
Just checking in, did we establish that the new dev build version solves the jq issue?

[2015-03-06 07:06] jcheng5 commented on #25
I'm really sorry, I dropped the ball on that. I'm now trying to install bokeh and all the dependencies over crappy hotel wifi and/or 4G hotspot and not having much success unfortunately. Is this something you can just pull from your machine and send me? If you wouldn't mind, my email is joe@rstudio.com. Otherwise I'll try again when I am better connected.

[2015-03-06 13:59] markcassar commented on #48
Cool, thanks

[2015-03-06 15:16] timelyportfolio commented on #25
I'll try it now.

[2015-03-06 16:08] timelyportfolio commented on #25
Ok, it seems to work well with @jcheng5 test app and also still on my standalone tests/examples.  Let me get synced with master, and I'll submit a pull.

[2015-03-06 16:36] bryevdv commented on #25
I think you guys are indicating that its working but just in case here is a CDN to the latest dev build:

http://cdn.pydata.org/bokeh/dev/bokeh-0.8.2dev.52491359.min.js

[2015-03-06 16:48] timelyportfolio commented on #25
I pulled bokeh from master this morning, and did grunt to build css and js and included that in the pull.

[2015-03-06 19:25] hafen commented on #41
Glad to hear it works for you!

[2015-03-06 19:25] #41 closed

[2015-03-06 19:26] #33 closed

[2015-03-06 19:26] #32 closed

[2015-03-06 19:44] hafen commented on #25
@ramnathv, @jcheng5, @timelyportfolio: I've been looking into creating an htmlwidget at the time `figure()` is called.  It will be straightforward, except that in the end when the widget is printed, I still need a custom print method to make final preparations for the widget instance data.  There's no way around this as several things cannot be computed until it is known that the figure is ready t

[2015-03-06 21:56] ramnathv commented on #25
Can you provide an example of a computation that needs to happen prior to the plot being viewed? I am still trying to understand what makes this situation unique.

[2015-03-06 22:10] ramnathv commented on #25
I am thinking, this can be made easy by making some tweaks to [toHTML](https://github.com/ramnathv/htmlwidgets/blob/master/R/htmlwidgets.R#L45-L99). In particular, the `widget_data` function can be allowed to be overruled by `rbokeh_data` so that the `rbokeh` package can do the pre-rendering computations necessary. This will work as long as all the necessary information is available in the payload

[2015-03-06 22:16] ramnathv commented on #25
Okay. I think I have some idea now, looking through your code. You have to  run the `prepare_*` functions prior to rendering. Let me see if there is a quick and easy fix to `htmlwidgets` to allow this.

[2015-03-08 18:33] hafen commented on #25
Great!  Thanks.  The general idea is that I have an object I can potentially keep updating with new layers and it is easier to store / update that object in a way that is not the same format as needed for the final widget instance data.  So it's not until the end that I get it in the format it needs to be for BokehJS.  There are several small nuances, such as resolving color schemes (which you can

[2015-03-08 18:59] ramnathv commented on #25
@hafen, here is my question to you then. Is it possible to encapsulate all those calculations that need to be done pre-rendering into a single function, say `render_figure`. Then all that needs to be done is for `htmlwidgets` to allow this function to be run on `x` before passing it on to the `toHTML` function.

[2015-03-08 19:00] hafen commented on #25
@ramnathv yes that will indeed be possible.

[2015-03-08 19:06] ramnathv commented on #25
Great. So here is what I am thinking. I will try to refactor some functions in `htmlwidgets` that allows widget authors to specify a pre-render hook that modifies the object `x` before passing it on to the printing function. I would have to think through the exact API design, but one possibility is for `htmlwidgets` to look for a function named `rbokeh_data` (may have to come up with a better name

[2015-03-09 23:44] hafen commented on #25
Sounds perfect.  You could have an s3 method, something like `htmlwidget_prerender_hook` with the default method being the identity.  Then I can write whatever methods I like (even separate ones for BokehFigure vs. BokehGridPlot, etc.) knowing they will be executed if `x` has that class.

[2015-03-10 04:50] ramnathv commented on #25
We considered S3 methods, but decided against it since it would require package authors to import the generic from `htmlwidgets`. We are using name based resolution as an alternative(eg. `rbokeh_html` if detected would override `widget_html`).

So, most likely, you would end up writing a `rbokeh_prerender` function that will do the pre rendering processing. You could write this function as an S3 m

[2015-03-10 20:26] polyphant1 commented on #9
+1

[2015-03-13 04:05] hafen commented on #25
Sounds great.  Can do that.

[2015-03-16 00:17] pandurang-kolekar commented on #25
Great work!
Eagerly waiting for Shiny binding for rbokeh..

[2015-03-18 03:37] notesofdabbler opened #51 "when using both color and glyph on scatter plot, legend for glyph not showing properly"
I was trying to use color and glyph based on data attribute and the legend doesn't seem to show glyph attribute. I am listing below a small code that I was using.

[code]

[2015-03-18 15:57] hafen commented on #51
Thanks for the report.  It looks like all glyphs are showing for each entry.  I'll take a look.

[2015-03-18 19:00] hafen opened #52 "Add boolean "hover" argument to ly_quantile"
It `TRUE`, it will show the f-value and quantile.

[2015-03-23 17:02] smartinsightsfromdata commented on #25
@hafen Apologies but I'm a bit confused.  Is shiny working now with rbokeh - or a ```rbokeh_prerender``` as referred to by @ramnathv  needs to be developed in order to have shiny properly integrated?

[2015-03-23 17:18] hafen commented on #25
@pandurang-kolekar, @smartinsightsfromdata, yes, proper integration is waiting on `rbokeh_prerender`, although it is possible although not very clean - @timelyportfolio, can you comment on this?

@ramnathv, is there an issue for the prerender functionality that I can track, or should I create one?  I'd offer to jump in to help add this feature to htmlwidgets but my bandwidth is a bit tight at the

[2015-03-23 17:24] ramnathv commented on #25
@hafen I have a local branch setup as of now and will be pushing it once it is is reasonable shape. I will cc you when I do that.

[2015-03-23 17:26] hafen commented on #25
Thanks @ramnathv - I'm sure you're very busy as well!

[2015-03-30 17:42] hafen commented on #25
@ramnathv, I've been looking at the code - could the hook simply be put at the beginning of `toHTML`?

[2015-03-30 18:32] ramnathv commented on #25
@hafen I would rather not put things in `toHTML`. A clean solution would be to add a pre-render hook function to `createWidget`, that basically takes the widget payload as an argument and transforms it just prior to rendering. Then the `widget_data` function can be modified to run this hook before render.

https://github.com/ramnathv/htmlwidgets/tree/feature/pre-render-hook

The basic idea is that

[2015-03-30 19:12] hafen commented on #25
Excellent!  Yes, that looks like the right way to do it.  I'll test it out!

[2015-03-30 20:23] hafen commented on #25
@ramnathv, I wonder if you would consider the following change in

https://github.com/ramnathv/htmlwidgets/blob/feature/pre-render-hook/R/htmlwidgets.R#L126

changing:

[code]

to:

[code]

The reason for this:

In rbokeh, users build up a figure by adding layers and other components (legend, axes, etc.).  These are all available as functions that take the htmlwidget as input and return the modifi

[2015-03-30 20:52] ramnathv commented on #25
@hafen I don't see any reasons not to pass the entire widget object to `x`. For my widgets, I usually store everything within `x$x`, even when it is being added by pipe functions down the line (e.g. `x$x$xAxis` will contain the `xAxis` parameters), but I presume you are storing it directly on `x`, which necessitates this change.

I will run a few checks to make sure that this does not introduce an

[2015-03-30 21:00] ramnathv commented on #25
I updated the branch with the change. Can you check if it serves your purpose? I might have to do a few more checks before sending a PR to the master branch, but I wanted to make sure that it serves the purpose it was initially designed for.

[2015-03-30 21:06] hafen commented on #25
Thanks!  This is hopefully still natural for others.  I'll give it a try.

BTW, I actually am storing everything needed `x$x`, but I am calling some of my pipable functions inside of `preRenderHook`, and these functions, even though they only modify `x$x`, expect the entire htmlwidget as input and output.  Thus the only convenient way to call pipable functions in a hook is to get the whole object.

[2015-03-30 21:31] ramnathv commented on #25
I don't think I understand. Can you provide a simple example to illustrate this?

[2015-03-30 21:32] ramnathv commented on #25
Never mind. I think think I understand now. I had assumed that `preRenderHook`  was a separate function that did not use the piped-in functions, but it is a perfectly valid situation and I think this new design works with that.

[2015-03-30 21:34] jcheng5 commented on #25
This sounds perfect, we will need this too in leaflet (including the whole `x` as we may need to add HTML dependencies on the fly).

[2015-03-30 21:34] hafen commented on #25
Just installed your feature branch and added the hook everything works like a charm!!  This is great - should clear up all the trouble with custom print methods (unnecessary now), shiny integration, etc.

[2015-04-08 07:09] hafen commented on #25
Many thanks to everyone on this thread. I think we have proper shiny integration:

[code]

[2015-04-08 07:09] #25 closed

[2015-04-08 14:31] timelyportfolio commented on #25
awesome job everyone !

[2015-04-08 14:47] timelyportfolio commented on #25
Just for testing, @jcheng5 test with new code probably better.

[code]

[2015-04-09 05:51] pandurang-kolekar commented on #25
Thanks, it works! :+1:
Will experiment around.

[2015-04-10 19:56] yihui commented on #31
FYI, `htmlwidgets:::toJSON` will use `jsonlite::toJSON(auto_unbox = TRUE)` by default.

[2015-04-10 19:58] yihui opened #57 "Hard-coded index in inst/htmlwidgets/rbokeh.js"
I don't understand if the hard-code index `c3bcea825e54ec0729458735b959b640` here is intentional:  https://github.com/bokeh/rbokeh/blob/03d6a52627/inst/htmlwidgets/rbokeh.js#L58 It may lead to errors when resizing the widget because `Bokeh.index["c3bcea825e54ec0729458735b959b640"]` is likely to be `undefined`, and you cannot do `undefined.model`.

[2015-04-12 09:44] sdc3 opened #58 "Question about ly_rect"
Hello,

The following code:

[code]

Gives an error:
[code]

Is the code wrong?
Shouldn't `yright` be replaced by `xright` in line 121 of layer_shapes.R?

Thank you for this awesome package!

[code]

[2015-04-12 14:41] hafen commented on #58
Wow thanks for catching that!  Not sure how that slipped through.  I'll fix when I'm at a computer this evening.

[2015-04-13 14:23] hafen commented on #58
This should be fixed.  Thanks for the detailed report and finding the problem.

[2015-04-13 14:23] #58 closed

[2015-04-13 23:54] #57 closed

[2015-04-17 16:33] asmeurer opened #61 "Tagging releases"
Can you push tags for all your releases to GitHub. It will make it much easier to build conda packages.

[2015-04-17 20:45] hafen commented on #61
Sure.  I'm not familiar with how conda works with GitHub.  Do you need just tags or do you need tagged releases with package tarballs?

[2015-04-17 21:05] asmeurer commented on #61
I can build packages just from the tag. Package tarballs could potentially be useful for other people, although if you don't change anything from git to the tarball GitHub generates these from tags on the releases page automatically.

[2015-04-22 04:38] happyshows commented on #8
@hafen is there any updates on this thread? thanks..

[2015-04-23 17:40] hafen commented on #61
Sorry for the delay.  I've tagged the current version and will make it a practice for all version bumps in the future.

[2015-04-23 17:40] #61 closed

[2015-04-23 17:45] hafen commented on #8
@happyshows, this is on my radar.  I'm in the middle of a busy period but this is definitely in the batch of features to add in the near term.

[2015-04-26 13:55] carbonmetrics opened #62 "Hover on categorical data"
I am trying to get hovering on a plot with categorical data on the y-axis. It does not seem to work. Here is the code [p1 does not give hovering info, p2 does]:

data(mtcars)
mtcars$models = factor(row.names(mtcars))

p1 = figure() %>%
  ly_points(mpg, models, data = mtcars,
            hover = list(mpg, models))

p2 = figure() %>%
  ly_points(disp, mpg, data = mtcars,
            hover = c(disp,

[2015-04-27 15:39] hafen commented on #62
This is an open issue with bokeh having to do with circles and categorical axes:

https://groups.google.com/a/continuum.io/forum/?utm_medium=email&utm_source=footer#!msg/bokeh/pFmgm_wu4Ds/yrYx958GbcoJ

https://github.com/bokeh/bokeh/issues/624

It seems to be limited to circles, so you could try ly_crect or something in the mean time.  I'm hoping this one will be resolved soon.

[2015-04-30 15:45] Rnewbie opened #63 "Error when running examples from [rbokeh](http://hafen.github.io/rbokeh/)"
Hi,
Received an error when trying to follow the examples from [rbokeh tutorial](http://hafen.github.io/rbokeh/). With the following example,

[code]

Insead of getting a bokeh plot, I received an error message :

[code]
session_info():
[code]
Thank you.

[2015-04-30 15:53] hafen commented on #63
Thanks for the detailed report!  This is because rbokeh depends on a newer version of htmlwidgets than what is available on CRAN.

[code]

I should make the version dependency explicit.

[2015-04-30 15:57] hafen commented on #63
Actually when I make the version number explicit, it always grabs the CRAN htmlwidgets.  So I will leave it as is until the newest htmlwidgets makes it to CRAN.  As long as one follows the installation instructions on the rbokeh website (install htmlwidgets from github prior to installing rbokeh from github), it will be okay.

[2015-04-30 16:02] Rnewbie commented on #63
Hi, Thank you for prompt reply. As you have suggested i install as your have suggested:
[code]
I was hoping to see the pretty interact plot. HOWEVER,
[code]
Thank you.

[2015-04-30 16:03] hafen commented on #63
Are you in the same R session as you were prior to installing?  I'd quit out of R and try the example again.

[2015-04-30 16:07] Rnewbie commented on #63
Yay!!!, i see the pretty plot now. Thanks a lot!!! Hafen, you rock.

[2015-04-30 16:16] Rnewbie commented on #63
Hafen, please also help and keep it that way, don't want get into code crashes when running with different version of rbokeh. Thanks again.

[2015-04-30 16:23] hafen commented on #63
Glad it's working!  I hope to get the package on CRAN once a few more things are in place.

[2015-04-30 16:23] #63 closed

[2015-05-01 12:06] carbonmetrics opened #64 "Creating standalone plots"
I would like to create standalone html pages. Generating html like this works:

[code]

[2015-05-01 12:19] Rnewbie commented on #64
May be you can use shinny to make HTML. This is the code template from code issue #25

[code]

[2015-05-01 12:48] carbonmetrics commented on #64
Thanks! If I run this I see a page with R code on it and no plot [after > Run Document]. I never dived into Shiny, so if this is a purely Shiny related let me know...

[2015-05-01 13:18] Rnewbie commented on #64
Hey , you just install shiny development version with devtools. It will work fine. I think the shiny library you are using it is fron CRAN. Please find a way to install shiny from dev. Its kind of like...please check for correctneess...

devtools::install_github('rstudio/shiny')

I am using my phone to type. Sry

--- Original Message ---

From: "carbonmetrics" <notifications@github.com>
Sent: May

[2015-05-01 13:37] carbonmetrics commented on #64
Thanks! Downloaded from github, but same results. I thought you would start the app by just clicking "Run Document" or is there a different method?

[2015-05-01 13:44] Rnewbie commented on #64
Yes you can do if you got ui.R and shinny.R and call function runApp()  this is wired cause in the morning i got same problem as you and it was solved when i install shinny from github.

When you run this

'''
figure() %>% ly_points(cars$speed, cars$dist)
'''
It gives you a interactive graph right?

[2015-05-01 13:47] carbonmetrics commented on #64
it works! thanks...saved me a few grey hairs ;-)

On Fri, May 1, 2015 at 3:44 PM, Saw Simeon <notifications@github.com> wrote:

[2015-05-01 13:51] Rnewbie commented on #64
Hey cool. We are using a cutting edge technology man.

[2015-05-01 14:18] timelyportfolio commented on #64
I believe this is an issue that needs to be resolved where Pandoc finds the pattern *.png in the CSS comment and believes it needs to `base64` encode the `png` even though it does not.  I'll test and hopefully push a fix.

[2015-05-01 15:17] Rnewbie commented on #64
Hey, timelyporfolio thanks for the insights. I also got the same issues when   i try to make a html page using rboken from knit button in Rstudio. But with shiny, html with rbokeh is amazing.

[2015-05-01 15:39] bryevdv commented on #64
Hey I jut wanted to chime in. Love seeing comments like this. :) Lots of folks at my last conference  tutorial asking "but who's using Bokeh?" So I'd really like to get a "testimonials" or "user stories" page up soon. Of course this depends on people doing public work with Bokeh, and being willing to be referenced/cited. Ideally a gallery, but even links/mentions would be good to start collecting.

[2015-05-01 15:44] timelyportfolio commented on #64
@hafen, this is #40 plus a little more. I guess we need to figure out the best way to automate the base64 piece of the `svg` in css unless @bryevdv can do it in `bokeh` on the source side.

Copying all the images/icons will be permanent so we won't have to do this each time.

[2015-05-01 15:49] bryevdv commented on #64
@hafen @timelyportfolio Possibly, what is it exactly that would need to be handled differently?

[2015-05-01 16:01] timelyportfolio commented on #64
@bryevdv I hesitate to ask since I'm not competent enough to know of any other downstream implications.  I believe there to be none.

well, it still does not show up cleanly, but the effect is on this line

we go from

[code]

to

[code]
There are a couple ways to do it, but in R, we can
[code]
and then change utf8 to base64 and replace the svg tag with the base64 value.

[2015-05-01 16:07] Rnewbie commented on #64
Hi, bryevdv. You rock. This is so cool. I am happy to the maximum now to get a comment from core bokeh maker. Its like a dream.

[2015-05-03 14:51] carbonmetrics opened #66 "rbokehOutput, size of output"
via ??rbokehOutput, I get rbokeh::rbokehOutput with an example, see code below.

The example does not work, see comments and modification.

The question is: how do I increase height and width of the figure? The current size is too small [have to scroll]. The help says rbokehOutput(outputId, width = '100%', height = '400px'), but this does not affect the output in my case.

[code]

[code]

[2015-05-03 15:17] Rnewbie commented on #66
Hey carbonmetrics, try with width = 100% and height = 100%. rbokeh graphs are interactive so people can adjust the size anyway they want. Good luck playing with robkeh. I am going to date with R now. hope it helps.

[code]

[2015-05-03 15:51] carbonmetrics commented on #66
Whatever percentage [or px] I put there, the size of the output does not change.
[I don't have this problem when I render a html file].

[2015-05-03 19:34] hafen commented on #66
I'll take a look at this tomorrow.

[2015-05-04 20:12] hafen commented on #66
@carbonmetrics I'm looking at this now and your example is not working.  What version of the package and htmlwidgets do you have installed?

[2015-05-05 08:23] carbonmetrics commented on #66
@hafen - here is some session info. Tested again by copying/pasting from example above [added output header],  everything works normally.

R version 3.2.0 (2015-04-16)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 14.04.2 LTS

locale:
 [1] LC_CTYPE=en_US.UTF-8          LC_NUMERIC=C                  LC_TIME=en_US.UTF-8           LC_COLLATE=en_US.UTF-8        LC_MONETARY=en_US.UTF-8

[2015-05-05 09:31] carbonmetrics opened #67 "Crash / conflict with other packages?"
In a new R session I can repeatedly run this:
[code]
However when I run this in an environment where I have my packages loaded, rbokeh crashes either immediately or after 1-2 times. "Crash" = hang so badly that I have to xkill R.

What would be the best method to find the problem?

Here is my session info. Also included is the rbokeh startup message for ggplot2.

Thanks!

[code]

[2015-05-05 15:52] hafen commented on #67
That's not good!  I can't think of a reason why this would happen and what it would have to do with rbokeh.  I tried unsuccessfully to replicate this on OS X and Ubuntu 12.04 with various packages from your list above.  It appears you are using RStudio (I see rstudioapi package)?  That might have something to do with it.  Could you provide the sequence in which your libraries are loaded?

[2015-05-05 15:52] hafen commented on #67
Also, if you are using RStudio, could you try the same thing from running R in the console?

[2015-05-05 17:42] carbonmetrics commented on #67
here is the library loading sequence:

[code]
Using RStudio 0.99.335.

Very good idea to check from the command line. I just sourced from RStudio and it crashed, then sourced from the command line and from there rbokeh runs without any problem.

[2015-05-05 17:48] hafen commented on #66
I think this is fixed.  Could you install from here:

[code]

And let me know if it fixes your issue?

Note that this fix will not work with `grid_plot()` since it is difficult to figure out how to resize all the individual panels - that needs some more work.

One thing you can always do is specify the same dimensions in your call to `figure()` that you do to `renderBokeh()`.  You won't have to do

[2015-05-05 17:51] hafen commented on #67
Interesting.  Now I'm interested to know if this happens with any other htmlwidgets.  Also, can you get some kind of log from RStudio?  This might be an issue to report to them.

No fun that you can't create rbokeh plots though.  I wonder if you could single out a package that when mixed with rbokeh makes things crash.

[2015-05-06 07:14] carbonmetrics commented on #67
I just tried library(DT) and the same thing happens.

There is a utility to get crash logs from Rstudio [https://support.rstudio.com/hc/en-us/articles/200488528-RStudio-Backtrace-Utility], but it just creates sessionInfo(). Maybe because I have to xkill it because it hangs completely.

My solution sofar has been to create the data, save them and then start a new session in a separate project. That

[2015-05-06 07:31] carbonmetrics commented on #66
It has helped to change the dimensions of the figure within the window created by shiny.
However the window created by shiny is too small - that is something that needs to be enlarged too when I enlarge the figure. The result is now a larger figure that is mostly invisible because of the small shiny window.

[2015-05-06 07:32] carbonmetrics commented on #62
Maybe related to this: I can't seem to make ablines in a cat/num figure. [I often make 2 dashed vertical lines that indicate "control limits"].

[2015-05-06 07:35] hafen commented on #66
I'm not sure I understand what you mean.  Could you provide an example?

[2015-05-06 07:39] hafen commented on #62
`ly_abline` is only intended for num/num figures.  You should be able to get what you are after by using `ly_segment`.

[2015-05-06 07:41] hafen commented on #67
Phew - glad it's not specific to rbokeh as I would have no idea what's causing it.  Hopefully RStudio can shed some light.

[2015-05-06 07:52] carbonmetrics commented on #66
The best way of explaining is the screenshot. I have increased the size of the figure  in the rbokehOutput part, but only part of the plot is visible - it is masked by the shiny window.

![selection_014](https://cloud.githubusercontent.com/assets/4662049/7489295/7c47943e-f3d5-11e4-89fc-b4f6db194cf1.png)

[2015-05-06 08:08] carbonmetrics commented on #62
I've thought of that but then couldn't think of a way to define y0 and y1 on the cat axis.

[2015-05-06 08:16] hafen commented on #62
It would just have to be the lowest and highest categorical values.  Here's an example:

[code]

Here you don't quite extend beyond the "a" and "z", so you can do something like this (not well-documented)

[code]

[2015-05-06 08:20] carbonmetrics commented on #62
Yes, this works! Thanks...

[2015-05-06 08:24] carbonmetrics commented on #67
submitted to rstudio:

https://support.rstudio.com/hc/communities/public/questions/203577158-RStudio-crash-with-htmlwidgets

[2015-05-06 08:35] hafen commented on #66
Whatever you specify as the width and height will be honored.  Since 900px is bigger than the window size it will overflow and you have to scroll.  You can specify width='100%' if you want to fill the window width.  I think this is how widget outputs are supposed to behave.  If you have examples of other htmlwidgets that behave differently, please let me know and I'll see if I should do something

[2015-05-06 08:45] carbonmetrics commented on #66
I have set both width and height to 80%. The width is right, the height didn't change.

I see your point - this is more shiny than rbokeh. The problem arises when you want to use grid_plot and you want to share that with somebody else via shiny. In that case there is just not enough space [which would be a shame, grid_plot is fantastic]. Via html there is no problem - I just specify large sizes in

[2015-05-06 15:36] #64 closed

[2015-05-06 15:40] hafen commented on #66
The height issue probably has to do with the web browser - percent heights only work if the parent element has a fixed height.

For grid_plot, you can probably do some things like reduce the font size, etc. to make it work.

[2015-05-06 16:32] #66 closed

[2015-05-06 22:47] jmcphers commented on #67
Thanks! We'll follow up on the support forum.

[2015-05-07 14:02] scizmeli opened #70 "Error in htmlwidgets::createWidget unused argument"
Hello I just discovered Rbokeh. It looks very nice indeed.

To make some tests, I freshly installed rBokeh and htmlwidgets for my R 3.2.0 under Linux. When I try the example in the homepage, I get the following error :

    figure() %>% ly_points(1:10) %>%
    tool_lasso_select()
    Error in htmlwidgets::createWidget(name = "rbokeh", x = list(spec = spec,  :
    unused argument (preRenderHook = r

[2015-05-07 14:49] hafen commented on #70
Right now you need to install htmlwidgets from github, not CRAN.  This will change soon when the new version of htmlwidgets is pushed to CRAN.

[code]

[2015-05-07 15:19] jjallaire commented on #67
It looks like the following will also reproduce this:

[code]

Note that DescTools loads the Tcl/Tk package.

The stack in RStudio at the time of the hang is:

![28](https://cloud.githubusercontent.com/assets/104391/7518727/a53cd1ee-f4aa-11e4-805f-bc99826ace14.png)

This looks like a hang of the TclTk event loop and it also appears to be somewhat timing related. Note that RStudio on Linux isn't ge

[2015-05-07 16:24] hafen commented on #67
So to make sure I understand, the issue is that having a completely non-related package loaded that uses Tcl/Tk is the culprit?

[2015-05-07 16:28] jjallaire commented on #67
Yes that's exactly right. That package + *any* htmlwidget + the right
timing will produce the crash. This is not an rbokeh issue at all.

On Thu, May 7, 2015 at 12:24 PM, hafen <notifications@github.com> wrote:

[2015-05-09 09:49] scizmeli commented on #70
This is exactly how I had installed htmlwidgets,  in the way it was described in homepage. Just to be sure, I reinstalled htmlwidgets... But still the same issue...

I also figured out that the I get the error when I run the command on rstudio (latest version:  0.98.1103) but the same command works well when I run R from the linux command line.
So there is a glitch in the rstudio environment...

A

[2015-05-09 09:52] scizmeli commented on #70
I restarted rstudio and the problem went away. Strange....

[2015-05-09 09:52] #70 closed

[2015-05-09 10:13] scizmeli opened #71 "buttons on the top not working under rstudio"
I just installed the latest github versions of both htmlwidgets and rbokeh under the latest rstudio running the latest R (3.2.0) under ubuntu 14.

When I run the following command, under rstudio, clickin on the buttons "lasso select" and "box select" don't do anything. It keeps on panning. Actually none of the buttons do seem to work under rstudio. Am I doing something wrong?

figure() %>%
+   ly_

[2015-05-09 15:53] hafen commented on #71
Interesting.  I could not replicate in RStudio, Safari, Firefox, Chrome.  But I'm on OS X.  There was a similar issue on the mailing list about the buttons not working in Chrome on Ubuntu.  https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/AQ0SfGzxH3E that might be helpful.  If it's not helpful, I'd suggest getting on the Bokeh mailing list, as it sounds like an issue that goes beyond r

[2015-05-09 22:43] timelyportfolio commented on #71
I've had this problem since the start with Windows 7 + RStudio Viewer | Chrome (multiple versions) and filed issue https://github.com/bokeh/bokeh/issues/1848, but have not had a resolution.

[2015-05-10 12:46] scizmeli commented on #71
Thanks a lot hafen for the javascript tip. I am quite new to javascript and do not know how to pass these indexes back to R. Can you kindly provide a very short/easy example here?
thanks

[2015-05-11 18:04] jrowen opened #72 "Unable to pass data.frame as hover parameter when using lapply"
Hover does not work with the example below.  I think the problem is related to the [`substitute`](https://github.com/bokeh/rbokeh/blob/master/R/layer_points.R#L50) call being used to pass the `hover` parameter to `rbokeh:::get_hover`.  In the example below, the `tmp` data.frame is not being found by `substitute`.
[code]
The change below looks like it may fix the issue.  I'll admit I'm not very fam

[2015-05-12 14:50] MySchizoBuddy opened #74 "plot vectors"
rbokeh requires all vectors to be converted to dataframes which increases the memory required. Also even if i want to plot just one point on a curve I have to put those points in a dataframe as well.

Please allow plotting of vectors and single points without requiring them to be in a dataframe

[2015-05-12 14:56] MySchizoBuddy opened #75 "Allow hover for line plots"
right now the ly_lines layer doesn't support the hover function. So a line plot cannot be traced. Since the line plot is made of points, allow the hover to atleast work if the mouse is over those points

[2015-05-13 09:29] hafen commented on #74
Could you be more specific or provide an example?  Vectors and scalars work just fine, e.g.:

[code]

Also, if your data is so large that memory is a concern, you might want to rethink what you are plotting.  Every data point is sent to the browser and individually rendered, so you don't want to be sending massive amounts of data to an rbokeh figure.

[2015-05-13 09:29] hafen commented on #75
This is a bokeh issue which I think is being addressed in an upcoming release.

[2015-05-13 09:29] hafen commented on #71
Oh yeah sorry that snippet isn't too helpful then!  I guess the question to ask is what you would like to do.  Do you want the indices of the selected points to simply show up in the browser, or do you want them sent back to R for you to do something with?

[2015-05-13 09:33] hafen commented on #72
Lazy evaluation can be tricky with cases like this.  Try the inside part of  your loop on its own and it works fine.

A good practice in general when using hover is to make sure the hover columns are in the data frame passed as the `data` argument (and if they aren't, add them).

For example, the following modification to your example:

[code]

The problem with your fix above is that `if (is.data.

[2015-05-13 15:18] MySchizoBuddy commented on #74
Thanks my mistake

[2015-05-13 15:18] #74 closed

[2015-05-13 15:40] scizmeli commented on #71
To send back to R. I could have a datatables associated with this plot that would show only the selected columns of the data.frame, for example.

[2015-05-13 16:23] MySchizoBuddy commented on #75
Also hover for ly_points requires a dataframe. doesn't work when plotting just vectors.

[2015-05-14 06:55] hafen commented on #75
It should.  Sorry - probably an issue of documenting it better.  If `x` and `y` are specified as vectors and there is no `data` provided then `hover` must be a data frame.  Here's an example:

[code]

Why must a data frame be provided for the hover argument?  Because the hover box is displayed as name:value and a data frame naturally provides this.

[2015-05-14 12:26] jrowen commented on #72
I see what you mean--this is a tough one.  If #73 is merged, I could see a use case like the example below, which is how I stumbled upon this issue.
[code]
How about this approach?
[code]

[2015-05-15 08:20] Rnewbie commented on #71
Yea, That will be cool.

[2015-05-17 08:46] MySchizoBuddy commented on #5
For now you can add these examples in an examples folder of this repo. The examples can then be called from R.

[2015-05-18 21:25] benfasoli opened #76 "R - rbokeh and htmlwidgets Compatibility"
Receiving the following error when attempting to use the current version of rbokeh.h

Error in htmlwidgets::createWidget(name = "rbokeh", x = list(spec = spec,  :
  unused argument (preRenderHook = rbokeh_prerender)

[2015-05-18 21:33] hafen commented on #76
See here: https://github.com/bokeh/rbokeh/issues/70

[2015-05-22 17:57] MySchizoBuddy commented on #71
confirmed Controls don't work on Windows 8,  Rstudio Version 0.99.437

[2015-05-26 21:33] hafen commented on #67
Closing this as it is not an rbokeh issue.  Thanks!

[2015-05-26 21:33] #67 closed

[2015-05-26 21:37] hafen commented on #71
@MySchizoBuddy, could you this version that is using Bokeh 0.9 and see if the issue is still there:

[code]

[2015-05-26 21:37] hafen commented on #76
This should now work with htmlwidgets installed from CRAN as well as it has been updated.  I will close as this has been a common issue that should now be fixed.  If you still experience issues, please reopen.  Thanks.

[2015-05-26 21:37] #76 closed

[2015-05-26 21:40] hafen commented on #62
@carbonmetrics, I believe this is fixed with the latest version of Bokeh.  Still doing some testing but should pretty stable:

[code]

[2015-05-26 22:12] timelyportfolio commented on #71
Still not working for me even with the `bokeh-v0.9` branch

[2015-05-26 22:13] timelyportfolio commented on #62
Nice, this works for me now.  @carbonmetrics, can you confirm?

[2015-05-26 22:16] timelyportfolio commented on #2
Ok, with `bokeh-v0.9` I think I can close this.  Thanks @bryevdv and @hafen

[2015-05-26 22:16] #2 closed

[2015-05-26 22:21] MySchizoBuddy commented on #71
confirmed doesn't work with latest Rstudio Version 0.99.441

[2015-05-26 22:23] MySchizoBuddy opened #78 "Multiple hover tool"
Using the bokeh-0.9 branch I see multiple hover tool checkboxes on windows 8.1 Rstudio version 0.99.441
![rplot](https://cloud.githubusercontent.com/assets/51676/7824801/ef92c176-03ba-11e5-84f1-df268dd3113a.png)

[2015-05-26 23:00] hafen commented on #78
This is expected behavior (same behavior under other versions as well).  There are three different glyphs being drawn.  Each has its own hover tool.

[2015-05-26 23:00] #78 closed

[2015-05-26 23:05] hafen commented on #71
That's no good!  I don't have a windows 8 machine to test.  Is it still an issue in Ubuntu 14?

[2015-05-27 09:33] carbonmetrics commented on #62
This works...thanks!

SessionInfo :

    R version 3.2.0 (2015-04-16)
    Platform: x86_64-pc-linux-gnu (64-bit)
    Running under: Ubuntu 14.04.2 LTS
    rbokeh 0.2.3

[2015-06-08 16:04] jrowen opened #79 "grid_plot not displaying properly with shiny"
In the example below, the individual grid plots become "compressed" (y-axis collapses onto itself at at the x-axis; point not visible) after the second change of select the dropdown.
[code]
I'm using v0.2.3.1 and don't see any error messages in the JS console.  Specifying `ylim` and `xlim` doesn't help.

[2015-06-09 15:25] hafen commented on #79
Interesting.  I've actually seen something like this before when embedding rbokeh plots in trelliscope.  And it only happened with grid plots.  This will be tricky to track down and my guess would be that it is a bokeh issue or an issue with the code in rbokeh.js to embed the plots.  I'll look into it.

[2015-06-10 15:38] hafen commented on #79
Figured this one out - `tool_events` and `grid_plot` were not getting unique ids because they weren't picking up the `Sys.time()` that helps make the id unique.  I'm guessing something with tool events and a tool dealing with ranges was remaining on the page when a new grid plot was added.

[2015-06-10 16:02] #79 closed

[2015-06-10 17:00] jrowen commented on #79
Confirmed it's fixed, thanks.  I wouldn't have thought to check unique ids.

On Wed, Jun 10, 2015, 11:02 AM hafen <notifications@github.com> wrote:

[2015-06-17 19:22] jrowen opened #82 "hover does not accept a data.frame when using shiny"
I think this is similar to #72.  The following app will not add hover to the chart points.
[code]
The console states
[code]
Everything works as expected when run outside of shiny.
[code]

[2015-06-18 16:39] hafen commented on #82
I can't replicate this.  What version of rbokeh are you using?

[2015-06-18 17:27] jrowen commented on #82
I'm using the latest dev version of bokeh/rbokeh.  I just reinstalled the dev version and am still seeing the same error (session info below).

As a test, I tried using the lazy evaluation methods from [`lazyeval`](https://github.com/hadley/lazyeval).  In particular, I changed the `hover` assignment in `ly_points` to
[code]
and the `tmp` assignment in `get_hover` to
[code]
and everything now works

[2015-06-18 18:34] hafen commented on #82
Aha - I just realized what I did.  I first ran your example of what does work, adding `df_plot` to my global environment.  Then I ran the app and the hover worked.

I looked into it and inside `get_hover()` in the shiny app, the data frame is 8 frames up and can't be found.  I added some logic to send the `parent.frame()` to `get_hover()` and it seems to work and seems to work for other standard c

[2015-06-18 18:57] jrowen commented on #82
Looks good and also appears to fix #72.  I agree with the approach and wouldn't advocate for switch to `lazyeval`.

[2015-06-18 20:09] hafen commented on #82
Sounds good.  I'll test it on all the examples / web page and merge.

BTW, I haven't forgotten about https://github.com/hafen/rbokeh/pull/2 - today has been the first somewhat normal day after multiple weeks of travel.

[2015-06-18 20:11] hafen opened #83 "Hover doesn't work for single points"
It just shows the first character.  For example:

[code]

This is a json encoding issue - things are encoded as a scalar rather than singleton array - should be easy to fix.

[2015-06-19 00:40] #72 closed

[2015-06-19 04:40] hafen commented on #82
Great - tested, merged, and updated online docs.

[2015-06-19 04:40] #82 closed

[2015-06-19 04:40] #83 closed

[2015-06-30 09:14] MySchizoBuddy opened #86 "Add heatmap layer"
Bokeh already allows heatmaps. Can you add a heatmap layer to rBokeh as well.
For an example of existing interactive heatmap check out the [d3heatmap](http://blog.rstudio.org/2015/06/24/d3heatmap/) R package. The dendrograms are not needed

[2015-07-01 13:39] MySchizoBuddy opened #87 "Slow on large time series dataset"
I have a timeseries datatset of 8760 hours of the year in date.time format as characters.  rbokeh chocks Rstudio in displaying the graph. panning zooming is not usable.  In firefox it triggers the non-responsive script error.

Im using date.time as characters because I don't want rbokeh to sort them, rbokeh should just display them as they appear in the dataset.

Even if they are characters rbokeh

[2015-07-06 16:00] hafen commented on #87
That's interesting that a data set this small is causing issues.  A branch I was working on a while back to migrate to bokeh 0.9 does include a parameter `lod_threshold` that allows you to specify the level of detail such that downsampling will occur when there are too many data points.  This will be incorporated soon.  The past month has been very hectic and I've been kept from addressing several

[2015-07-06 16:14] hafen commented on #86
Sounds good.  This should be a very simply layer function making use of `ly_image` or `ly_crect`.

[2015-07-06 18:44] MySchizoBuddy commented on #86
Bokeh has examples on their website in python
http://bokeh.pydata.org/en/latest/docs/gallery/unemployment.html

[2015-07-06 19:08] MySchizoBuddy commented on #87
btw is there a way that rbokeh will display the x-axis date-time series without sorting them and display as they appear in the dataset. TMY3 weather/solar radiation dataset has one year data where each month data is taken from different years.
for eg it will have rows with date-time from Jan of 1976, Feb of 2003, March of 1998... December of 2010. That together gives a year long dataset.
I don't w

[2015-07-06 21:32] hafen commented on #87
Without sorting, it would no longer be a date-time axis, correct?  You could just recode the variable as a character string.

[2015-07-07 21:08] hafen opened #88 "Support Bokeh v0.9.1"

[2015-07-07 21:10] hafen opened #89 "Support Shiny bindings"
Building on work and discussion here: https://github.com/hafen/rbokeh/pull/2.

[2015-07-09 03:38] hafen commented on #62
The original problem stated here dealing with hover using circles in categorical axes should be fixed now in the dev branch.  You can test with `install_github("bokeh/rbokeh@dev")`

[2015-07-09 03:39] hafen commented on #62
BTW this fix basically came from updating to the latest bokeh version.

[2015-07-09 04:05] hafen commented on #40
While hopefully this gets addressed more permanently in Bokeh or Pandoc, I'm closing since we have manually fixed it in both master and dev, and I just added a test in dev (https://github.com/bokeh/rbokeh/pull/93) that will ensure when we add new Bokeh css updates we don't sneak this problem back in.

[2015-07-09 04:05] #40 closed

[2015-07-09 04:08] hafen commented on #87
@MySchizoBuddy, you can take a look at `install_github("bokeh/rbokeh@dev")` and look at the arguments to `figure()` such as `lod_factor`, `lod_interval`, `lod_threshold`, `lod_timeout`.

[2015-07-11 21:35] MySchizoBuddy opened #95 "Allow changing timeseries data label format"
In the example provided

    p <- figure(width = 800, height = 400) %>%
         ly_lines(date, Freq, data = flightfreq, alpha = 0.3) %>%
         ly_points(date, Freq, data = flightfreq,
                hover = list(date, Freq, dow), size = 5

The format of the x-axis timedate isn't changeable. At-least I didn't find anything in the ly_lines() or figure() function.

[2015-07-13 14:16] hafen commented on #95
For finer control over axis labels, use `x_axis()` or `y_axis()`.  Control over axis formats was added by @jrowen - see the documentation for the axis functions for details.  We need to document this on the main page.  Here's an example:

[code]

[2015-07-14 02:27] jrowen commented on #95
I should probably take a look at the main page.  Which repo would be best
to work with?

On Mon, Jul 13, 2015 at 9:17 AM hafen <notifications@github.com> wrote:

[2015-07-14 10:24] MySchizoBuddy opened #97 "Shiny example broken in the 0.9 branch"
The shiny example in the docs in the latest dev build "hafen/rbokeh@bokeh-v0.9" is broken.
Error

    Error in get(name, envir = asNamespace(pkg), inherits = FALSE) :
     object 'plot.BokehFigure' not found

Sorry this belongs in the hafen/rebokeh repository

[2015-07-14 11:17] MySchizoBuddy opened #98 "rbokeh dev errors out"
Using devtools::install_github("bokeh/rbokeh@dev")

the dev branch doesn't install

    Error in namespaceExport(ns, exports) :
    undefined exports: phantom_install, save_figure
    Error: loading failed
    Execution halted
    ERROR: loading failed
    * removing 'C:/Program Files/RRO/R-3.2.0/library/rbokeh'
    Error: Command failed (1)

[2015-07-14 11:36] hafen commented on #97
Please ignore this branch.  dev has bokeh 0.9 in it now.

[2015-07-14 11:36] #97 closed

[2015-07-14 11:37] hafen commented on #98
Thanks - this is fixed.  I must not have CI turned on for this.  I'll look into it.

[2015-07-14 11:37] #98 closed

[2015-07-14 14:49] echoe95 opened #100 "Setting x axis limits for time series data"
Hi I want to set the xlim for a rbokeh chart where the x axis is date.

[code]
The above works, I've tried

[code]
and
[code]

Neither works, it seems to be perhaps a date formatting issue. I originally asked a question on SO regarding what I'm trying to do(http://stackoverflow.com/questions/31407177/setting-xlim-for-rbokeh-plot-inside-shiny-application) but I think now that my issue pertains to r

[2015-07-14 15:45] hafen commented on #100
Thanks for this report.  It is indeed an rbokeh issue.  It's an easy fix, which I've made and will merge shortly.

[2015-07-14 16:42] echoe95 commented on #100
Thanks!

[2015-07-14 16:42] #100 closed

[2015-07-14 19:23] hafen commented on #100
This should be fixed now.  Congrats on filling issue #100!

[2015-07-14 19:40] hafen commented on #95
@jrowen that would be great if you are up for it.

The need is in this section: http://hafen.github.io/rbokeh/#axes

The docs are served here and are built with `build.R`.

https://github.com/hafen/hafen.github.io

[2015-07-14 21:20] ziyadsaeed commented on #97
the dev branch also has the same error.

[2015-07-14 23:38] tonyfast commented on #42
@hafen If you rename the HTML file in your gist to ``index.html`` then you can view it on http://bl.ocks.org

* [Gist](http://gist.github.com/tonyfast/fb5a2a3b6f0b2704b53f/)
* [bl.ock](http://bl.ocks.org/tonyfast/raw/fb5a2a3b6f0b2704b53f/)
* [raw view](http://bl.ocks.org/tonyfast/raw/fb5a2a3b6f0b2704b53f/)

[Read more about bl.ocks.org](http://bl.ocks.org/)

[2015-07-16 12:30] gonzmg88 opened #104 "rbokeh documentation page does not load graphics"
`rbokeh` documentation page javascript (http://hafen.github.io/rbokeh/) does not work.

The page returns the following error
`
http://hafen.github.io/rbokeh/assets/htmlwidgets-0.5/htmlwidgets.js Failed to load resource: the server
`

The source indeed does not exists in the repo.

[2015-07-16 13:04] hafen commented on #104
Thanks!  Don't know how that happened.  It's fixed now.

[2015-07-16 13:31] ziyadsaeed opened #105 "feature request: Range selector for time series data"
dygraphs has a nice range selector feature for time series data. Can this feature be added to rbokeh
![rangeselector](https://cloud.githubusercontent.com/assets/12503225/8723669/d661093c-2be8-11e5-9ba6-a66d16f49670.png)

[2015-07-21 13:56] jrowen commented on #95
I'm having trouble building `index.Rmd`, and I think it is because of
[code]
Should this chunk be removed/commented out?  If not, an you check in this data file?

[2015-07-21 14:11] hafen commented on #95
Oh yeah - I just added it, but put it in data/doubles.rda, so you can change the path.  Thanks.

[2015-07-21 14:54] hafen commented on #95
I've been meaning to do something about that.  Yes, we could do `@section` for each and then remove "Additional Parameters" as it would be an empty section.  Since we say things like "see additional parameters", we would need to change, for example, `\subsection{Basic Tick Format}` to `\subsection{Additional Parameters: Basic Tick Format}`.

[2015-07-21 14:54] hafen commented on #95
Do you want to branch off of rbokeh master and make this change?  Or I'm happy to do it.

[2015-07-21 15:37] jrowen commented on #95
Since I'm in the midst of a PR for the website doc, it might make sense for me to also take a look at the rbokeh master (assuming this is a quick update).  I can switch gears and pull together a PR for an rbokeh doc change, and then roll those updates into my website PR.

[2015-07-21 15:38] hafen commented on #95
Sounds great.  Should be a quick thing.

[2015-07-21 17:56] hafen commented on #105
Technically putting something like this together should be possible but it would probably involve a bit of low-level javascript code to add it as a component.  If there is a lot of interest in this, I will look into it, but there are several general issues I'm focusing on right now.

[2015-07-21 18:00] ziyadsaeed commented on #105
No problem this isn't a priority

[2015-07-21 18:21] jrowen commented on #95
I'm running into another error
[code]
Is there a folder missing from the core rbokeh project?

[2015-07-21 18:25] hafen commented on #95
Oh this is a strange one from the staticdocs package.  Just create an empty folder called 'staticdocs' in inst.  I didn't check it in because it's not necessary for the package.  But I suppose it should be checked in so that it's easier for others to build the docs.

[2015-07-21 18:27] jrowen commented on #95
I'll just add
[code]

[2015-07-21 18:28] hafen commented on #95
Sounds good.

[2015-07-21 18:36] hafen commented on #97
Sorry about that - should be fixed now.  And the code is simpler too.

[2015-07-22 18:56] #31 closed

[2015-07-23 20:33] hafen commented on #71
I finally was able to play with this on a windows machine.  It is indeed an issue in rstudio.  However, it is not windows-specific.  For example, if you do the following:

[code]

It will open up in a web browser and things work for me.  So I'm not sure what it is with rstudio, but that's where the issue is coming from.

[2015-07-25 13:40] sinhrks opened #110 "feature request: grouped histgram / density plot"
Currently, there is no easy way to plot grouped histgram / density plot. Adding ``group`` kw to ``ly_hist`` and ``ly_density``?

Currently, I do:

[code]

![07](https://cloud.githubusercontent.com/assets/1696302/8889640/0d973732-331e-11e5-83ca-24d3dcae6d10.png)

[2015-07-25 13:43] sinhrks opened #111 "Allow ly_lines to draw lm result"
I understand that ``lm`` result can be drawn via ``ly_abline``, but it is confusing to use ``ly_lines`` for ``lowess`` and ``ly_abline`` for ``lm``.

[2015-07-27 20:38] hafen commented on #110
This should be a simple addition - will put it in soon.

[2015-07-27 20:43] hafen commented on #111
This is how things work with base R graphics - an `lm` result is an naturally an `abline`.  Are there other plotting packages that do this?

[2015-07-27 20:45] hafen commented on #105
This will actually be a fun example attempt when we put in custom js callbacks (see examples toward the bottom of [here](http://bokeh.pydata.org/en/latest/docs/user_guide/interaction.html) that we can build some higher-level plots around.

BTW, v0.3 is coming along - lots of overhaul on the theme stuff among other things.  You can try the dev branch if you want.  I need to put together an updated

[2015-07-29 11:08] sinhrks commented on #111
Thanks for consideration. Understood the background.

What I have in my mind was to have a single API. It is very nice if we have a function  ``ggplot2::geom_smooth``.

- http://docs.ggplot2.org/0.9.3.1/geom_smooth.html

[2015-07-30 22:22] apoku commented on #43
Do you have an example of how to embed plots inline within an iPython Jupyter/Notebook? I've tried embedding HTML with the get_bokeh_html(fig) approach with no luck (results in an inline blank image notated with red font Javascript error. If I open the saved off html file I get the same errors )

JS errors in the JS console:
Uncaught Error: field value for property 'x' is not a string (CDN calling

[2015-07-30 22:23] apoku opened #112 "How to plot figures inline with iPython Jupyter/Notebook"
Do you have an example of how to embed plots inline within an iPython Jupyter/Notebook? I've tried embedding HTML with the get_bokeh_html(fig) approach with no luck (results in an inline blank image notated with red font Javascript error. If I open the saved off html file I get the same errors )

JS errors in the JS console:
Uncaught Error: field value for property 'x' is not a string (CDN calling

[2015-08-01 03:43] hafen commented on #112
This is a good question.  I was asked this a few months ago. I don’t use jupyter but have been meaning to look into it.  Have you been able to use any other htmlwidget with jupyter?  I’m thinking if this were handled at the htmlwidget level that would be the best thing.  I filed an issue here: https://github.com/ramnathv/htmlwidgets/issues/144 <https://github.com/ramnathv/htmlwidgets/issues/144>.

[2015-08-05 16:50] Rmadillo opened #113 "link_data not linking for different plot types."
Getting the error

`'link_data' was set to TRUE, but none of the figures in the grid have the same data source.`

when trying to plot histograms and scatterplots on same grid with same data source.

Code:

[code]

[2015-08-07 19:57] hafen commented on #113
`link_data` is meant to link plots in a grid plot only when the data sources are exactly the same.  Even though you are passing the same data into the histogram plot as the other plots, it is being transformed into a different data source prior to plotting that specifies the rectangles to draw for the histogram.  So the data source for those plots is not the same and the linking cannot work.

It i

[2015-08-07 19:57] #113 closed

[2015-08-11 13:29] Rmadillo commented on #113
Sounds good, thanks.

[2015-08-11 17:55] echoe95 opened #114 ""There are more levels to color than there are available colors in this palette... repeating colors""
Hey I'm getting this notification when using a column to set the color, as sometimes the column it's referencing can have a lot of unique values.

Is there a way to pass  in my own palette(like a vector of Hexs maybe)?

[2015-08-12 20:28] apoku commented on #112
Thanks for the insight--I am just getting familiar with the R/Python/JS space and so don't have much experience with htmlwidgets. However, it does look like Bokeh proper has a mechanism for embedding generated HTML. Would the Bokeh dev team be able to provide some insight here?

<http://bokeh.pydata.org/en/latest/docs/user_guide/embed.html>
<http://bokeh.pydata.org/en/latest/docs/user_guide/embed.

[2015-08-12 22:45] damianavila commented on #112
Here: https://github.com/bokeh/bokeh/blob/master/bokeh/util/notebook.py#L8-L69, it is the code in charge to load BokehJS into the notebook... after loading the notebook with the js and css, you should embed the figures: https://github.com/bokeh/bokeh/blob/master/bokeh/io.py#L256-L262, and finally publish the html using the notebook display machinery: https://github.com/bokeh/bokeh/blob/master/boke

[2015-08-13 15:32] Swarchal opened #115 "Title disappears when plot is resized."
When viewing a plot in Firefox (Windows, 40.0). The plot title is there initially, but when you resize the plot it disappears, and reappears if you resize the plot back to the original size.

[2015-08-14 22:06] hafen commented on #114
This will be coming very soon.  I have a development branch that will handle custom themes - I just need to add the mechanism for the user to specify the custom theme.  Right now, you can instead just directly make a new column with the color values, but then you will not get the legend.  But you should be able to do it properly with some updates hopefully coming in the next couple of weeks.

[2015-08-14 22:32] hafen commented on #115
Thanks for the report - I can verify that this is a general issue and I think I know the cause.  Will work on it.

[2015-08-18 21:06] CesiumLifeJacket opened #116 "Remove NAs from line plots"
Currently, NA values are just treated as zero in ly_lines.  With a few lines of code in [make_glyph.R] (https://github.com/CesiumLifeJacket/rbokeh/blob/master/R/make_glyph.R)  (lines 114 to 118) I was able remove these NAs for my specific use case, but I'm not sure how robust this is, and in any case the solution's not ideal as it leaves line segments across the removed values.

[2015-08-18 21:38] hafen commented on #116
Thanks for the report.  That's definitely not good and I'll fix asap.  This must have snuck in with how NAs are encoded in json and how bokehjs interprets the values.

NAs should never be interpreted as zero.  However, for lines, I like how

[2015-08-29 11:25] PranaGeo commented on #71
I confirm that it is still an issue under Ubuntu 14 (Rstudio Version 0.99.473) :( If I launch the figure on the browser, buttons work fine.

[2015-08-29 19:05] Cat1796 opened #117 "theme error using categorical value in plotting (on maps) in shiny"
The following code returns an error. I am basically trying to make use of the automatic conversion of categorical values to colors when plotting over a map within shiny:

library("shiny")
library("maps")
library("rbokeh")
library("htmlwidgets")

data(world.cities)
caps <- subset(world.cities, capital == 1)
perils <- head(caps,12)
perils$size=c(0.01,0.30,0.43,0.12,0.04,0.06,0.07,0.03,0.21,0.04,0.06

[2015-08-29 19:57] Cat1796 commented on #117
Even further testing shows there is some nasty interaction between color and size:
[code]
Has clear problems in doing the legend (neither size nor color works in the legend)

[2015-08-31 18:30] hafen commented on #117
Thanks for the report.  Legend work has been ongoing and more is available in the dev branch.  Will hopefully stabilize this and merge into master soon.  Here's your example using this branch:

[code]

[2015-08-31 18:53] hafen commented on #71
Perhaps someone at RStudio can shed some light on this.

@jjallaire - sorry to bug you but could you point the appropriate person to this issue?  To summarize, in Windows and Linux, an rbokeh plot in RStudio renders fine but the buttons at the top of the display don't work.  However, if you view it in a web browser, the buttons work.

e.g.

[code]

[2015-08-31 20:59] jjallaire commented on #71
First I'd make sure you are running at least 0.99 of RStudio (we had a huge
update to our webkit engine in v0.99).

Not knowing anything about the internals of bokeh I can't suggest what
might be going wrong. You can debug things though by just right-clicking
the global toolbar of the IDE and clicking the "Inspect" menu (this will
give the WebKit developer tools, JS console, etc.)

On Mon, Aug 31,

[2015-08-31 22:12] timelyportfolio commented on #71
I still experience this issue in Windows in both Chrome and RStudio.  It only works for me in Firefox.

[2015-09-02 20:54] PranaGeo commented on #71
I wished I could help but this is a bit out of my abilities :)

[2015-09-10 22:52] jrounds opened #118 "Rotate axis labels in boxplots"
Is there a way to rotate axis tick labels in figure() or elsewhere?

This comes up with boxplots most often for me.  Levels of a grouping variable may not fit well in the screen written horizontally on the x-axis, but angled or vertically they fit well.

[2015-09-11 08:04] hafen commented on #118
Here's an example:

[code]

However, this will change when the updates to the dev branch are merged.  I'd actually suggest you use dev.  For that, the command is:

[code]

[2015-09-11 08:04] #118 closed

[2015-09-11 08:39] hafen commented on #116
This is fixed in the dev branch.  Will merge when more testing and documentation is done.

[2015-09-11 15:38] jrounds opened #119 "ly_crect interprets a single character string as a vector of characters (sort of?)"
Hi, there is a bug when ly_crect is plotting one level of a factor/string.

  Minimal examples this is right:
[code]
But now wrong:
[code]

This is in the context of using a ly_heatmap function in a trelliscope display (which often hits corner cases), and in this case the idea was to plot 2 cells for one level of "yada1".   I didn't want "y" to be its own cell, but that is how it comes out.

[2015-09-11 16:02] jrounds commented on #118
Thanks Ryan.

[2015-09-11 16:16] kaneplusplus opened #120 "Is there a way to created stacked histograms?"
In ggplot2 I can create a stacked histogram like this:
[code]
Is there a way to do this in rbokeh?

[2015-09-12 00:07] hafen commented on #120
I just added some preliminary support for this.  It's in the dev branch.  If you don't mind using the dev branch and testing it out, that would be awesome.  See `ly_bar` for examples.

[2015-09-12 18:39] kaneplusplus commented on #120
Great thanks!

[2015-09-12 18:39] #120 closed

[2015-09-14 17:38] jrounds commented on #119
BTW I tried to walk through the code to understand where this was happening, and I wasn't able to find it.  This may be much lower level than ly_crect, and involve the glyph code.

[2015-09-14 22:52] hafen commented on #119
This is strange.  You get the strange behavior even when you do this:

[code]

But not when you do:

[code]

The output that gets sent to Bokeh looks fine so it may be something I need to dig deeper on the Bokeh side to understand.

[2015-09-14 23:03] jrounds commented on #119
It is related to whether or not unique(y) is one thing or more things.  There is a call to unique in the code that creates a range object in the glyph code and if unique only finds 1 string or level that is when things get wonky.

[2015-09-14 23:19] hafen commented on #119
Okay - figured it out.  JSON encoding issue.  See here: https://github.com/bokeh/rbokeh/pull/123/files
I'll merge it into the dev branch as soon as tests pass.

[2015-09-14 23:33] jrounds commented on #119
Thanks Ryan.

[2015-09-14 23:33] #119 closed

[2015-09-18 15:07] jrounds opened #124 "ly_crect (or subsequent calls) ignores factor order"
Hi Ryan,

Todays issue related to building ly_heatmap using ly_crect is that ly_crect creates alphabetical order axis labels regardless of if the user has re-ordered the factor that generated the label.

For example,
[code]

In theory the ideal plotting tool would know that x was a factor and respect the order of x in the factor R type.  Not sure what level this is at for a fix.

[2015-09-18 16:02] hafen commented on #124
You actually have complete control over categorical axis limits with any of the layer functions.  Simply supply `xlim = c(...)` inside your call to `figure()` with the order that you desire.  So if it's a factor you can do `xlim = levels(grid$x)`.  I suppose alphabetical is not a good default ordering.  The difficulty is figuring out what the right order is if the person is adding multiple layers

[2015-09-18 16:15] jrounds commented on #124
Oh oops.  Okay I just didn't understand.  Thanks!

[2015-09-18 16:15] #124 closed

[2015-09-18 16:27] jrounds commented on #124
I never even realized what that "xlim not specified explicitly... calculating..." meant until now.

[2015-09-18 16:29] hafen commented on #124
Yes there's actually a ton to document (functions are well documented but need more on the tutorial side).  When axis limits are not explicitly set, it goes through all the data in all the layers and finds the right axis limits.

[2015-09-25 19:20] jrounds opened #126 "Anyway to turn a vector of column names into a hover?"
Can't figure out the easy way to do this:
[code]

What I want is the hover to be from a vector of column names without having to write them out.  Easy way?

[2015-09-25 19:22] hafen commented on #126
You can give hover an actual data frame if that is easier.  So in this case you could do `hover = iris`

[2015-09-25 19:28] jrounds commented on #126
Just figured that out. Thanks for prompt reply.  Closing!

[2015-09-25 19:34] jrounds commented on #126
it seems to me rbokeh:::get_hover is altered just prior to the follow code to check for class(hn) == "character" it could easily just skip to:
subset(data, select=hn)

[code]

Would you accept that if someone made a push request?

[2015-09-25 19:39] #126 closed

[2015-09-25 22:05] jrounds opened #127 "ly_points error when glyph variable has one level."
Corner case again.

[code]

Ideal behavior is probably draw the glyph with one symbol?  But it  fails (without an error) and spams warnings.

[2015-09-25 22:10] jrounds commented on #127
BTW that doesn't sound like it can be very annoying, but I made a Trelliscope display with this line of code (not runnable
[code]

Where "red" and "blue" are two subsets of the data, and vital status sometimes is all alive or all dead but most often alive and dead, and now essentially each one of those "red" and "blue" need a
[code]

[2015-10-02 17:09] andreyto opened #130 "Support standard evaluation for plot parameters"
Currently it is impossible to pass data.frame column names into geoms as string variables, and get correct plot output. It either silently generates incorrect plot, or stops with an error. The issue is conceptually similar to the difference in ggplot2 between `aes` and `aes_string`. It would be great if Rbokeh had something to support `aes_string` use case.

Even your example for paired plot (upda

[2015-10-02 20:13] hafen commented on #130
Thanks for the report.  We are currently working on a major internal overhaul of handling arguments that should address this.  It will be another week or two before it is complete.

[2015-10-02 20:52] jrounds opened #131 "Certain characters in labels disrupt ly_crect (but with no error messages)"
If you are wondering how in the world?  Proteomics data puts non-letter characters in peptide names.  Peptide names became labels to ly_crect.  ly_crect failed to function.  Work around for user: strip dangerous characters before calling ly_crect.

Recreatable example:
[code]

[2015-10-08 18:52] jrounds opened #132 "ly_points color argument used with legends argument errors"
Hi,  I was investigating my request for help on bokeh group:

I decided maybe this is an "issue".  There are two arguments that work separately in rbokeh ly_points but they don't work as expected when used together.

Start with
[code]
Now these two calls work as expected:
[code]
But the two arguments together do not work (or certainly do not act as you would expect based on the above result).
[cod

[2015-10-08 19:43] hafen commented on #132
Thanks for the report.  We are working on this and several related issues with handling arguments robustly.

[2015-10-08 21:55] jrounds commented on #132
I have a trelliscope display waiting on the ability to do this, so I thought I would try to figure out if it could be done at all, and I thought "make a single data.frame".

  I need to plot 4 sets of points.  ("Censored", "Deceased") crossed with ("Type A", "TypeB") .  The censored need to be triangles, deceased need to be circles, Type A needs to be red, Type B needs to be blue.  A legend is req

[2015-10-09 15:38] #132 closed

[2015-10-12 02:23] ziyadsaeed commented on #88
So you will not go all the way to 0.10

[2015-10-14 22:27] ziyadsaeed commented on #130
allow dataframes to be passed as variables. For eg
Plot variables V1 and V2 from dataframe1 along with V1, V2 from dataframe2. All of them are user selectable.

[2015-10-16 10:30] ziyadsaeed commented on #130
which branch is this feature being worked on

[2015-10-26 15:25] abresler opened #134 "Points Overlaying on Images Don't Work"
I think this was fixed in @hafen's DEV version but not here.  Try @hafen's nba shot chart example to test.

[2015-10-27 08:45] laurecita opened #135 "mixing different aesthetics doesn't work"
I have some issue when mixing different aesthetics in ly_points. Creating a plot for each aesthetic works, but creating a plot combining different variables for the color, glyph and size returns some warnings and a error:
[code]

[2015-10-29 01:42] gryslik opened #136 "RBokeh hover doesn't work if the x-axis is a string instead of a number"
Here's a fully worked out example:

[code]

[2015-10-29 12:56] hafen commented on #136
Thanks for the report.  This works with the dev version.  `devtools::install_github("bokeh/rbokeh@dev")`.  Dev is about to be merged to master but I need to update some docs and do some more testing, but use dev for now.

[2015-11-03 21:17] jrowen opened #137 "tools not rendering correctly with knitr and grid_plot"
In the `knitr` example below, the toolbar renders as large buttons instead of the slim bar that appears when rendered outside of knitr.

    ---
    title: "Untitled"
    output: html_document
    ---

[code]

[2015-11-03 21:29] jrowen opened #138 "same_axes uses all grid_plots when run in knitr"
In the example below, the same axis limits are applying to both `grid_plots`, but I would expect each plot to to use a different set of axis limits.

    ---
    title: "Untitled"
    output: html_document
    ---

[code]

[code]

[2015-11-04 23:05] hafen commented on #88
The dev branch is 0.10.  There are many things in the dev branch - just need to find a block of time to do some testing and merge.

[2015-11-13 07:49] laurecita commented on #135
I have just tried with the development version: 0.2.4.1, and I don't have this error anymore.
The multiple legends seems now to work for the color and the size, but I noticed two bugs:
* the symbols in the legend have the same size for the size parameter
* there is currently no legend for the shape

I have used the same code as previously:
[code]

Session info: rbokeh_0.2.4.1 and htmlwidgets_0.5.1

[2015-11-13 17:09] jrounds opened #139 "Disabling outlier points in ly_boxplot."
Co-worker wanted to generate a ly_boxplot without outliers for a viz with over-layed points.  We traced in and found the ly_points that put them on the plot (at the bottom of ly_boxplot), but no way to disable the outlier plotting.  I advised the co-worker to re-write ly_boxplot with a TRUE/FALSE logical controlling if the outliers get plotted, and wasn't going to say anything, but then this morni

[2015-11-13 17:10] #139 closed

[2015-11-17 08:47] hafen commented on #139
If it's something that you think should go into the package for everyone, let me know.

[2015-11-17 08:51] hafen commented on #135
Thanks for the report and your patience.  Unfortunately the size issue is a current Bokeh limitation (see here and feel free to comment on it: https://github.com/bokeh/bokeh/issues/2603).  The other issue is indeed not how things should behave and I'll use this as a test case for some ongoing work along these lines.

[2015-11-17 09:03] hafen commented on #138
I must be generating a non-unique ref - I'll look into it!

[2015-11-19 20:47] saun4app opened #140 "Scatter plot preview example relies on data frame column order"
Scatter plot preview example (ly_points, ly_abline), appears to relies on the column order of data frame, instead of formula. For example, the original example (see get_rbokeh() below) looks good.  However, if change the column order of cars data frame to ('dist','speed'), instead of ('speed', 'dist') the result looks off (see get_rbokeh_reverse_column() below); the x and y values on the chart fol

[2015-11-20 00:36] hafen commented on #140
Thanks for the report.  This is actually how it supposed to work.  If you give a data frame as an argument to `ly_points()` it will grab the first column for the x-axis and the second column for the y-axis.

Note that your formula in `lm()` has nothing to do with `ly_points()`, just `ly_abline()`.

If you want to explicitly specify the x and y variables for `ly_points()`, you can do the following:

[2015-11-20 00:36] #140 closed

[2015-11-23 17:48] jerryfan4 opened #141 "Multiple axes on the same plot"
Does rbokeh allow the feature of multiple axes with different ranges?  Can you provide an example of how to do so?

[2015-11-24 19:02] jrounds commented on #119
Is this fixed then if I go to dev branch?

[2015-11-28 01:55] masip85 opened #142 "Points or polygon offset over map"
![captura de pantalla 2015-11-28 a las 2 52 36](https://cloud.githubusercontent.com/assets/12863854/11449563/1aaefc24-957b-11e5-90c4-d44cfb716af0.png)

If I get red square corners coordinates , and set them to google maps web directly, the coordinates fit exactly with build corners. Something happens when I do something like:

gmap ... %>%
ly_polygons %>%
ly_points %>%

Offset appears at all Chica

[2015-12-03 22:14] hafen commented on #142
Thanks - this is an issue with Bokeh and I have an issue opened here: https://github.com/bokeh/bokeh/issues/2964

[2015-12-08 04:03] alistaire47 commented on #130
Yeah, a non-standard eval escape hatch would be really nice. (Or if there is one already of which I'm unaware, documentation!)

Hadley has [a lot of opinions](http://adv-r.had.co.nz/Computing-on-the-language.html) on the matter, although I'm not sure if [his preferred approach](https://cran.r-project.org/web/packages/dplyr/vignettes/nse.html) will become standard or not. His [lazyeval](https://git

[2015-12-10 03:38] alistaire47 opened #143 "ly_text renders "[object Object]" if text attribute passed a string"
When the `text` attribute of `ly_text` is passed a string, it renders "[object Object]" instead of the supplied string. For example:

[code]
renders
![Image of plot with object Object](http://i65.tinypic.com/282ou4w.jpg)

I found similar closed issues [30](https://github.com/bokeh/rbokeh/issues/30) and [38](https://github.com/bokeh/rbokeh/issues/38), but the issue remains on RBokeh v. 0.2.3.2. The

[2015-12-10 16:51] SixiangHu opened #144 "Hide legend in ly_bar"
Is there any method to hide the legend in `ly_bar`?

An example is like:
[code]

[2015-12-11 08:02] hafen commented on #144
I added support for hiding the legend (in any plot) by doing `figure(legend_location = NULL) %>% ...`.

This fix is here: https://github.com/hafen/rbokeh/tree/dev.  There's a lot of work in there I'm still vetting so I haven't pushed to the main repo yet.

Hover for `ly_bar` could be difficult.  It would be easy to automatically add a hover with the count/sum for each bar, but for a custom hover,

[2015-12-11 08:04] hafen commented on #143
Thanks for the report and your patience.  Looking into it.  We've been doing a lot under the hood and this issue should be addressed pretty soon.

[2015-12-11 08:07] hafen commented on #141
Bokeh does but I haven't figured out yet how to expose that in rbokeh.  It hasn't been a high priority but if you can provide an example of what you'd like to see, I can look into how easy it will be to support.

[2015-12-11 08:12] hafen commented on #137
This is what I'm getting.  Could you attach a screenshot with some environment info?

<img width="1022" alt="screen shot 2015-12-11 at 12 11 09 am" src="https://cloud.githubusercontent.com/assets/1275592/11738906/be6ea510-9f9b-11e5-81e9-455ed5c26faf.png">

[2015-12-11 08:18] hafen commented on #130
Actually we've been working quite a bit on this and have moved to using lazyeval and this issue will be fixed and hopefully things will be much more robust.  It's sitting here: https://github.com/hafen/rbokeh/tree/dev awaiting a bit more rigorous testing (it is difficult to write tests for all the edge cases).  Hopefully I'll be merging soon.

[2015-12-11 10:39] SixiangHu commented on #144
Thanks @hafen, that's really quick. :+1:

[2015-12-11 13:47] jrowen commented on #137
Here's what I see.
![image](https://cloud.githubusercontent.com/assets/1530030/11745026/ab822a28-9fda-11e5-87db-642ff7b9f1c1.png)
[code]

[2015-12-11 19:57] hafen commented on #137
what version of rbokeh?

[2015-12-11 20:13] jrowen commented on #137
v0.2.3.2

On Fri, Dec 11, 2015, 1:57 PM hafen <notifications@github.com> wrote:

[2015-12-11 22:09] hafen commented on #137
Does the same thing happen with the dev branch?

[2015-12-14 14:10] jrowen commented on #137
I pulled the latest from bokeh/rbokeh this morning and am still seeing the same.

[2016-01-07 18:54] ziyadsaeed commented on #130
how do i install your dev branch?

[2016-01-07 19:01] hafen commented on #130
I'm actually merging in a whole bunch of updates including this one in the next few hours... I'll let you know when it's ready.

[2016-01-07 22:58] #9 closed

[2016-01-07 22:58] #116 closed

[2016-01-07 23:05] hafen commented on #143
This is fixed in most recent version.

[2016-01-07 23:05] #143 closed

[2016-01-07 23:06] hafen commented on #134
Latest dev updates are merged so this should be fixed.

[2016-01-07 23:06] #134 closed

[2016-01-07 23:07] hafen commented on #130
This should work now.  Please install the latest.  I'm going to close but if you still find problems, please reopen and give me an example.

[2016-01-07 23:07] #130 closed

[2016-01-07 23:08] #88 closed

[2016-01-07 23:10] #5 closed

[2016-01-07 23:10] #104 closed

[2016-01-08 17:25] kaneplusplus commented on #86
+1 This would be helpful for gene expression data.

[2016-01-08 18:10] ziyadsaeed commented on #86
was this feature released in the current comments.

[2016-01-09 08:39] hafen commented on #86
Thanks for the link @ziyadsaeed.  That is part of the high-level python api so we will still need to implement our own that translates to the rect glyphs.  Should be pretty straightforward.  I'll give this issue precedence.

[2016-01-09 09:08] hafen commented on #119
It's fixed in master now.

[2016-01-09 16:31] statist-bhfz opened #147 "Pandoc error 67 when trying to knit self-contained html"
I have the next error message when trying to knit Rmd to self-contained html:

    pandoc: Could not fetch /home/andrey/R/x86_64-pc-linux-gnu-library/3.2/rbokeh/htmlwidgets/lib/bokehjs/../images/down.gif
    /home/andrey/R/x86_64-pc-linux-gnu-library/3.2/rbokeh/htmlwidgets/lib/bokehjs/../images/down.gif: openBinaryFile: does not exist (No such file or directory)
    Error: pandoc document conversi

[2016-01-12 03:20] jrounds opened #148 "color/substitute issue introduced in the latest patch."
Don't have a time at the moment to write a stand-alone demo of the issue because I need a work-around for tonight, but I can hint at it.

The context is a color vector in a call to ly_crect.  The code ends up in this stack:
[code]

With an error of
[code]

grey is not the issue.  I traced in and the text argument of parse evalutes to
[code]

This won't parse because it is not a legal R statement,

[2016-01-12 07:46] #148 closed

[2016-01-12 15:36] hafen commented on #148
@jrounds did you resolve this?  If so, can you share what you learned?  If not, would it be easy to create an example?

[2016-01-12 19:45] jrounds commented on #148
After I started simplifying it went away.  At the time it was in an old
ly_heatmap function I wrote, but I haven't had a chance to figure out if it
was a scope issue or what.  BTW when you wrap functions around rbokeh
functions in your own package these issues of arguments can get sticky -=)

Anyway in the end I had a working heatmap with color from ly_crect.

On Tue, Jan 12, 2016 at 7:36 AM, hafe

[2016-01-13 20:03] hafen commented on #148
Oh no did you have issues even with 0.3.1?  Barret did a lot of work with lazy evaluation that should have cleared up issues with arguments inside functions, etc.

[2016-01-13 20:19] jrounds commented on #148
Yeah I updated but this was a complex situation where a function called a
function in my own package environment which called ly_crect, so no telling
what actually the issue was.  If it comes up again I will track it down.

On Wed, Jan 13, 2016 at 12:03 PM, hafen <notifications@github.com> wrote:

[2016-01-28 09:14] hafen commented on #8
Somehow this issue fell through the cracks.  This has been implemented for some time.

[2016-01-28 09:14] #8 closed

[2016-01-28 09:17] hafen commented on #47
I've restricted gmap plot to only allow tools with which it plays nicely, so I will mark this as closed.

[2016-01-28 09:17] #47 closed

[2016-01-28 19:43] ziyadsaeed commented on #86
I see histogram related commits in the log. So is this feature implemented?

[2016-01-28 22:46] chdoig commented on #112
Hi, any progress on this issue? What's the roadblock? Is it in Jupyter, htmlwidgets or rbokeh?
It would be awesome to get rbokeh working in Jupyter notebooks!

Thanks!

[2016-01-29 08:37] hafen commented on #86
No sorry I'll get on it - should be pretty straightforward.  @jrounds, did you have an implementation we could base off of?

[2016-01-29 08:40] hafen commented on #112
I agree!!

The roadblock for me is that I don't currently have a good understanding of the details of how to embed in Jupyter and I think this should be implemented at the htmlwidget level.  @ramnathv, any new thoughts on this?

Also, see discussion here:

https://github.com/ramnathv/htmlwidgets/issues/144

https://github.com/ropensci/plotly/issues/398

[2016-01-29 10:12] hafen commented on #147
Thanks for the report.  This has been fixed previously by @timelyportfolio (see here: https://github.com/bokeh/rbokeh/issues/40).  I wonder what snuck back in.  Will look into it.

[2016-01-29 23:40] jrounds opened #149 "Example on webpage doesn't match what I get in Rstudio"
From the example webpage:
[code]

When I cut and paste this in Rstudio I get xtick marks and numbers for x-axis (and y-axis), but the formatting of the axis is ugly (in Rstudio).

On the web-page where you show examples there are no axis tick  marks (which is better than not so pretty looking axis tick marks).

Just me?

[2016-01-30 00:20] hafen commented on #149
Interesting...  It works for me - rbokeh 0.3.4, RStudio 0.99.873.  Can you check your versions?

<img width="1589" alt="grab" src="https://cloud.githubusercontent.com/assets/1275592/12691770/254cc10c-c6a4-11e5-8fa3-eceef6908565.png">

[2016-01-30 00:24] jrounds commented on #149
![image](https://cloud.githubusercontent.com/assets/730341/12691832/ba928c6a-c6a4-11e5-9e56-62869c08efd9.png)

[code]

[2016-01-30 00:30] jrounds commented on #149
Closing until I get updates.  Thanks Ryan.

[2016-01-30 00:30] #149 closed

[2016-01-30 18:48] jrounds commented on #149
Upgrading Rstudio and Rbokeh to 0.3.4 fixed it.

[2016-01-30 19:10] jrounds commented on #86
Honestly I am not sure.  I would need to figure out
- how to handle arguments properly
- how to generalize a color gradient in an rbokeh way
- how to draw a color legend properly

I do have this snippet that demos how to use rbokeh to make heatmaps "by-hand" and it has the elements in place:
[code]

[2016-02-03 13:56] JeanLescut commented on #112
Hi everybody,

You can still use gridplot([[a,b]]) in Jupyter to plot figures inline !

[2016-02-03 21:02] hafen commented on #112
@JeanLescut I'm not sure I understand what you mean.  Can you provide an example for embedding an rbokeh plot in a jupyter notebook?

[2016-02-06 18:37] jrounds opened #150 "Vectors with names break rbokeh"
demo (I see no axis labels when names are enabled):
[code]

P.S. last version of rbokeh didn't do this, so something in the new argument handling?

[2016-02-08 19:42] hafen commented on #150
Should get this fixed today.  In the mean time you can do unname(y).

[2016-02-14 21:03] jrounds opened #151 "boxplot width"
Added box_width to  ly_boxplot as follows.   Could set you up a pull request if you want (but it as simple as replacing a constant .9 with a parameter).  Lets you put in a box_width parameter to make the width something aesthetically pleasing to you.
[code]

Usage:
[code]

[2016-02-15 20:33] hafen commented on #151
Thanks!  I have added a `width` argument to be consistent with `ly_bar()`.  It's in the dev branch, which will be merged to master after some testing of some other things.

[2016-02-15 20:33] #151 closed

[2016-02-15 20:33] hafen commented on #150
This has also been fixed in the dev branch.

[2016-02-15 20:33] #150 closed

[2016-02-15 20:35] hafen commented on #136
This was fixed a while back but forgot to close it.  Please reopen if you experience any related issues.

[2016-02-15 20:35] #136 closed

[2016-02-15 20:36] hafen commented on #142
Recent updates to BokehJS seems to have cleared up this issue.  Adding layers on top of maps have been consistently aligned for me lately.  Can you re-try your above example with the latest rbokeh?

[2016-02-20 17:45] statist-bhfz commented on #147
This issue could be closed. Version 0.3.4 works fine, thanks.

[2016-02-20 17:45] #147 closed

[2016-03-02 08:29] #89 closed

[2016-03-02 08:36] hafen commented on #142
Closing - let me know if it is still an issue for you.

[2016-03-02 08:36] #142 closed

[2016-03-02 08:41] hafen commented on #62
@carbonmetrics sorry I've been going through old issues and just noticed you had asked a question I didn't answer.  To get your cat axis in alphabetical order, you specify the order you want the axis to be in through the xlim or ylim argument to figure().

[2016-03-02 08:41] #62 closed

[2016-03-02 08:42] #87 closed

[2016-03-04 17:40] #29 closed

[2016-03-04 17:40] #48 closed

[2016-03-12 21:13] #138 closed

[2016-04-05 19:32] michd-mit opened #152 "Status of sliders and other interactions?"
Hi all,

I am new to rbokeh and posted this query to the bokeh mailing list first, where people suggested I ping here. I am hoping to use rbokeh for rapid data exploration, because it is potentially more attractive than my default approach using ggplot.

However, I noticed that there are no default options to create any of the more interesting interactions such as sliders, selects, and the like, a

[2016-04-05 19:43] bryevdv commented on #152
For additional reference, ML discussion: https://groups.google.com/a/continuum.io/forum/?pli=1#!topic/bokeh/uofmHZQiE6M

[2016-04-27 21:30] apratap opened #153 "grid_plots not showing in a R markdown document"
inside a Rmd document I dont see the output of the following code in knitted html document

[code]

[2016-05-04 17:44] hafen commented on #153
It works for me.  Can you provide more information?  My environment:

[code]

[2016-05-12 15:17] stevemiller79 opened #154 "Printing Rbokeh graphs in Jupyter Notebook."
All that I've been able to use is rbokeh2html. Is there something like embed_notebook() for plotly?

Steve M

[2016-05-12 15:32] stevemiller79 opened #155 "Rbokeh -- "Strip Plot""
I've developed a strip plot using rbokeh. A strip plot is simply a scatter where one of the axes (in this case the Y) is categorical. ly_points() almost gives me what I want, but I've been unable to jitter the numeric points like a true strip plot. Is there a way to do this?

Steve M

[2016-05-12 15:40] bryevdv commented on #155
(@hafen please correct me if I am wrong about something RBokeh specific)

Probably not automatically yet. But this recently merged PR https://github.com/bokeh/bokeh/pull/3959 added support for "computed transforms" on column data source columns, including normal and uniform jitter. And this in-flight PR https://github.com/bokeh/bokeh/pull/4243 will add support for integrating those computed column

[2016-05-12 16:59] stevemiller79 opened #156 "Rbokeh -- Trouble with ly_abline()"
I have a index portfolio performance chart where the x-axis is date and y-axis is growth of $1, computed from daily percent change numbers. I wish to draw a horizontal line at $1 to indicate break-even, but ly_abline() is barfing at the x-axis date. If I change date to integer, ly_abline with slope (b) and intercept (a) works, though I cannot get ly_abline with v or h to work regardless. This does

[2016-05-18 16:45] hafen commented on #156
Interesting.  Can you provide an example?

[2016-05-18 16:47] hafen commented on #154
I've been wanting to be able to do this for a while and wasn't aware of `embed_notebook()`.  ll take a look at it.

[2016-05-18 19:37] stevemiller79 commented on #154
Hafen --

Here's an abstracted script with data enclosed. The first 3 sections work,
while the 4th fails.

Regards,
Steve

#########################################################################
library(rbokeh)
library(data.table)
library(lubridate)
library(dplyr)

#########################################################################
setwd("d:/data/russell/2016")
slug <- fread("russellgraph.

[2016-05-20 10:26] Atrebas opened #157 "ly_lines: Error in max(data_lengths) : invalid 'type' (list) of argument"
Hi,
Could you clarify the behaviour below? Maybe I missed something...

[code]

`#2` gives the following error
Error in max(data_lengths) : invalid 'type' (list) of argument
In addition: Warning messages:
1: In max(idxs) : no non-missing arguments to max; returning -Inf
2: In max(idxs) : no non-missing arguments to max; returning -Inf
3: In max(idxs) : no non-missing arguments to max; returning -I

[2016-05-28 19:50] chepyle commented on #112
I'm not sure of the status of a proper Jupyter embedding mechanisim.  I currently rely on a shameful use of temporary html files in my Jupyter sessions.

[code]

Inexplicably, sometimes the last line needs to be rerun to ensure the Bokeh javascript is recognized.  Is a better way in development?

[2016-06-02 20:33] mwhitaker opened #158 "exported html file with rbokeh2html generates "Uncaught Error: unsatisfiable constraint""
Hi there,

I was trying to use

[code]
but when I open up the generated file in the browser I get the error **"Uncaught Error: unsatisfiable constraint"**. My generated file is [here](https://gist.github.com/mwhitaker/f7faa68ab4595a000742731db23d7911).

[2016-07-02 18:31] igoldin2u commented on #157
Confirming. Also no need to use a data.table; `data.frame()` produces the same effect.

[2016-07-04 05:59] lawremi commented on #105
As discussed at DSC I am interested in helping make rbokeh more extensible in this direction. But I think this case could be handled by using the box selection (restricted to width) tool in the overview plot and then having the `x_range` of the top plot linked to the selection. The linking is not yet possible (I think), so I posted this issue: https://github.com/bokeh/bokeh/issues/4745.

[2016-07-05 22:04] brett-patterson opened #160 "BokehJS v0.12"
Are there any plans to support BokehJS v0.12? It doesn't seem to work out of the box, so I assumed there were some changes to the JSON spec, but I didn't investigate very thoroughly. I'd be happy to help if this is something you'd like to do.

[2016-07-08 23:14] igoldin2u opened #161 "tool_tap doesn't work for bar plots"
For an RBokeh bar plot embedded in a Shiny app, `tool_tap()` doesn't respond to taps in RStudio or in Chrome, even though `tool_hover()` does respond to hover events.

[code]

[2016-07-20 15:27] pdelboca commented on #160
It would be great to update due that Google Maps is no longer working due to API Update. It was
[fixed in V0.12](https://github.com/bokeh/bokeh/issues/4658)

[2016-08-16 17:54] lianos commented on #139
This should go into the package for everyone :-)

Sorry, didn't see this ticket and I asked about this just yesterday on the group in [this message](https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/kfb5EadZI6A), arriving to what seems like the same conclusion as the OP.

I've provided pull request #162 that enables this, in the hope that it'd be helpful.

[2016-08-17 18:28] lianos opened #163 "Plot does not draw when both `glyph` and `lname` are specified in `ly_points`"
When both `glyph` and `lname` are specified in `ly_points`, the plot does not draw.

These two calls work:

[code]

This does not:

[code]

I'm trying to debug this, but having a hard time digging deep into the guts of the package. Inside the `ly_points` function, `args$info$lname` is still populated correctly after the call to `grab`. My guess is that something is going awry in the calls to `make

[2016-08-17 19:40] lianos commented on #163
I think I see what's happening. When we map `glyph` to a categorical value with many levels, these are actually drawn as different layers with their own internally generated unique `lname` values when `lname` isn't specified in the `ly_points` call.

When we specify a value for `lname` in the `ly_points` call, each glyph is drawn using the same `lname`, and (I guess) this causes an explosion.

Try

[2016-08-17 21:34] lianos commented on #163
A possible way to work around the "splitting-data-and-mismatched-index" problem would be to take an approach similar to plotly where the callback returns the values from a specified `key` column of the `data` object, instead of the indices into it.

In this way, we could match the returned keys to the appropriate rows of the *original* `data` object and process the selection that way.

[2016-08-17 22:00] hafen commented on #139
Thanks @lianos for the PR and sorry @jrounds that it took so long on this one - I need to follow up on old issues more diligently!

[2016-08-17 22:14] hafen commented on #163
@lianos this is an interesting issue that I've grappled with quite a bit.

You are correct that mapping glyph to a categorical variable requires multiple layers to be drawn in BokehJS, which is required due to the design of BokehJS.  You're also correct that this does wreak havoc on the idea of brushing, etc.

I like the idea of an index column.  Ideally you would still be able to specify a single

[2016-08-17 22:23] hafen commented on #160
Sorry for the delay.  My github notifications are going to the wrong mailbox.  I started work on a v0.12 branch and got caught up in some other deadlines but will turn focus to this.  Addressing the google maps issue is also on the table.

[2016-08-17 22:40] lianos commented on #163
plotly requires you to specify a `key` column to use that already exists in the source `data(.frame)`.

Take a look at [this example](https://plot.ly/r/shinyapp-plotly-events/), and scroll down to the `server.r` code. You can define the `key` in the `aes(..., key=<column>)` call if the user goes the `ggplotly` route. If you go the `plot_ly`-native grammar route, you simply `plot_ly(..., key=<colum

[2016-08-18 00:39] hafen commented on #163
Ah yes of course the row numbers should be 1 based.  Working on this - I'm balancing this with some work on other issues (mainly updating to Bokeh 0.12) but hopefully it will come out soon.  I need to get some better docs out on the callback stuff to make it easier to dive in since it seems to be a desired feature.

[2016-08-18 08:43] hafen commented on #160
@brett-patterson thanks for offering to help.  I have gone through and found what I think to be all the critical changes in the JSON models and I have a *very experimental* branch working with 0.12 with the `api_key` added for google maps.  I'll be doing more work and testing on it, but if you want to try it out, `devtools::install_github("hafen/rbokeh@bokeh0.12")`.

[2016-08-18 08:46] hafen commented on #161
I'll look into this.  I'm actually surprised hover works for bar plots :).  The reason I'm surprised is that callbacks is something I've only added experimentally and really only targeted points / glyphs.  It's time to really get into callbacks and making them more robust and stable, so I'll use this as a use case for that.  One question when going beyond points is what information the callback sh

[2016-08-18 08:50] hafen commented on #158
Interesting.  I cannot reproduce with the following setup:

[code]

[2016-08-18 17:05] igoldin2u commented on #161
With a bar plot, I would want a callback to provide the x-axis index of the bar and the y-axis height of the tap. I'd also want to check that the solution works if a plot is rotated, with bars extending from the vertical axis rather than from the horizontal axis.

Another thing that's a little weird here is that the layer for callbacks is called "g1l1" rather than "bar".

[2016-08-19 08:26] hafen commented on #155
Sorry I missed this.  If I understand correctly, you should be able to use R's built-in `jitter()`, (e.g. `ly_points(jitter(x), y)` correct?  Or do you mean that you also want to jitter the categorical y-axis?  In that case, see `?catjitter` (reference [here](http://hafen.github.io/rbokeh/rd.html#catjitter)).

As @bryevdb mentioned, there is now jitter functionality directly embedded in bokeh, but

[2016-08-22 16:06] igoldin2u opened #165 "ly_bar bombs on input with only one row"
a <- data.frame(x="a", n=1)
    ly_bar(figure(), x="x", y="n", data=a)
    # Error in FUN(X[[i]], ...) : invalid 'type' (character) of argument

This doesn't bomb, but the plot is silly:

    ly_bar(figure(), x="x", data=a)

[2016-08-22 20:03] cddesja commented on #144
@hafen, any update on the second request here to add a hover for the bars?

[2016-08-22 22:07] hafen commented on #165
If you are providing a data argument you don't quote the inputs:

[code]

[2016-08-22 22:07] #165 closed

[2016-08-23 02:02] igoldin2u commented on #165
Oy. In my case, the name of the input column is passed in as a character string. If `ly_bar` insists on NSE, then is there a standard evaluation version, like how `dplyr` has `filter` and `filter_`?

Incidentally, `ly_bar` works great if I do quote the input column names and the input data has 2 or more rows. Is that just a lucky accident?

[2016-08-23 20:49] hafen commented on #160
I've done quite a bit of work and everything seems to be working with 0.12.  Grid plots took a lot of work and there were quite a few other little things.  I wouldn't mind some help testing it out.  If you want to install:

[code]

Let me know if you see any issues.

[2016-08-23 20:50] hafen commented on #157
Very sorry for the delay.  This does indeed need to be fixed and I'm looking into it.

[2016-08-23 20:51] hafen commented on #156
I don't have an example to work with, but I have done some work to make `ly_abline` more robust to axes.  Could you give this a try and see if it fixes your issue?

[code]

[2016-08-23 20:53] hafen commented on #144
I have added hover for bars (on by default) but you can turn off with `hover = FALSE`.  It's in this branch which contains other updates waiting to be fully tested.  You can give a try with `devtools::install_github("bokeh/rbokeh@dev")`.  Let me know if this has the functionality that you expect.

[2016-08-23 21:18] #95 closed

[2016-08-23 21:33] brett-patterson commented on #160
Thanks so much for doing this work @hafen. I'll check it out soon and let you know how it goes.

[2016-08-23 22:04] hafen commented on #165
I see.  If you are using variables to get at column names, you can also do something like this:

[code]

I'll look into why it does / doesn't work with >1 row / 1 row.  There's a lot of logic going on behind the scenes wrt NSE that can get tricky.

[2016-08-23 22:20] hafen commented on #127
Thanks for the report.  This been fixed in a soon-to-be-merged-to-master commit.

[2016-08-23 22:20] #127 closed

[2016-08-23 22:21] hafen commented on #157
This is fixed but is hanging out in the dev branch until it is ready to go live.  You can test it out with `devtools::install_github("bokeh/rbokeh@dev")`.

[2016-08-24 07:13] Atrebas commented on #158
FYI, reproduced with the following setup:
[code]

html file opened with Opera/IE/Firefox/Chrome.
Here is the log from firefox.
![capture](https://cloud.githubusercontent.com/assets/17814052/17921592/e8d0200e-69da-11e6-9a1f-bb8913735f84.PNG)

[2016-08-24 07:20] Atrebas commented on #157
Yes, it works.
Thanks!

[2016-08-24 19:07] cddesja commented on #144
I would say almost. I know this isn't reproducible but ...

[code]

Would it be possible to change the word "District", which is coming from the "Type" variable, to what the grouping variable is? For example, my grouping variable is actually a level of Age, which I've assigned some hex colors (in colors) to get a more friendly color scheme (using the `viridis` package).

Unrelated, is there a way

[2016-08-25 12:55] igoldin2u commented on #144
I think it's important to have the `hover` argument to `ly_bar` to work similarly to `ly_points`. This doesn't work right now:

    a <- ggplot2::diamonds %>% count(cut)
    figure(a) %>% ly_bar(cut, n, hover=list(cut))
    # Error in if (hover) { : argument is not interpretable as logical

Neither does `ly_bar(..., hover=list(cut, n))`.

I don't love the hover turned on by default, because it's n

[2016-08-25 20:04] hafen commented on #144
@cddesja good point on needing more info in the tooltip when there is a grouping variable.  I have made it so that the grouping variable is also shown on the tooltip.  If you re-install from bokeh/rbokeh@dev, this should work.

@igoldin2u in `ly_bar`, the data is transformed from what is specified as the data argument into what needs to be plotted for the bar chart.  Because of this, there isn't a

[2016-08-25 20:08] hafen commented on #144
@cddesja for your color issue, currently unfortunately it isn't possible to make a custom legend (legends are a bit tricky), but in the push I just made I added some convenience functions for controlling overall color palettes.  When you map a variable to an attribute like color, you get the legend automatically.  So with what I've just added, you should be able to follow this example (just swap m

[2016-08-26 13:39] igoldin2u commented on #144
I skimmed `layer_bar.R`. I think there's two use cases - one where `layer_bar.R` does need to do data aggregation, and one where the initial data are already aggregated.

In either use case, I could pass in a callback function that is also used in the aggregation. Rewriting using `dplyr`, what we have now is:

    res <- ggplot2::diamonds %>% group_by(cut) %>%
        summarise(n=n())

And what we

[2016-08-31 04:44] lianos opened #173 "Use of do.call in ly_boxplot slows it down mucho"
I realized that creating a boxplot in rbokeh took *a lot* longer than the same plot with plotly. It turns out that the use of `do.call` is the culprit, and I've got a patch to fix it.

The following plot takes ~ 2.5s to create on my laptop:

[code]

Translating the `do.call`s to explicit function calls drops it down to ~0.14s

[2016-08-31 17:15] lianos opened #177 "Proposal: Customizing outlier points in boxplots"
Sorry to keep coming back to this.

How about adding `outlier_size` and `outlier_glyph` parameters to `ly_boxplot` so that the user can customize these?

Although `with_outliers` was recently added to the codebase, I propose we mimic the ggplot2 behavior that if any of the above new params is set to `NA`, then outliers are hidden altogether ... and perhaps we remove the `with_outliers` parameter,

[2016-08-31 19:11] hafen commented on #177
That sounds great to me.  `with_outliers` hasn't been released to CRAN yet so not a big deal to change / remove it in favor of this.  PR would be greatly appreciated.

[2016-08-31 19:18] lianos commented on #177
OK, will do.

Should I branch off of `dev` w/o PR #176 merged?

Or do you want to merge that first?

Or I can just add it to PR #176, and then can merge the whole shebang.

[2016-08-31 19:19] hafen commented on #177
Sure add to #176 - was just taking a look at it and it looks good.  Might as well add and merge once.

[2016-09-07 17:20] lianos commented on #177
This is implemented in commit 66fbbb53ae1d5f43172c2a2544c5d214e3449e0e.

[2016-09-07 17:20] #177 closed

[2016-09-07 17:21] lianos commented on #173
The `do.call` calls in `ly_boxplot` were replaced with explicit function calls in commit 66fbbb53ae1d5f43172c2a2544c5d214e3449e0e,

[2016-09-07 17:21] #173 closed

[2016-09-07 17:48] igoldin2u opened #178 "grid_plot does not respect x_axis and y_axis modifications"
`grid_plot(same_axes=TRUE)` does not generate the same axes for all subplots once there are changes to `x_axis` and `y_axis`. In this example, `grid_plot` ignores `grid=FALSE` and `desired_num_ticks=16`

[code]

[2016-09-07 21:05] lianos opened #179 "glyph "magically" set to "Image" when both glyph and color are set (in dev)"
I've been trying to dig myself out from under this one for a while but I'm hoping @hafen can spot this out immediately.

I'm working with the dev version, and specifying both color and glyph is throwing an error. I know it's a WIP but I figured feedback early in the process could be helpful

[code]

[2016-09-07 21:14] hafen commented on #179
Thanks for this case.  I'll look into it right away.

[2016-09-07 21:15] hafen commented on #178
Thanks!  Looking into it.

[2016-09-08 20:44] hafen commented on #179
I've fixed it in the dev branch.  Feel free to give it a try and make sure it works the way you expect.

[2016-09-08 20:44] #179 closed

[2016-09-08 20:45] hafen commented on #178
This is fixed in the dev branch.  Hope to merge to master by end of week.

[2016-09-08 20:45] #178 closed

[2016-09-08 21:45] lianos commented on #179
Nailed it, thanks!

[2016-09-08 22:03] igoldin2u commented on #178
Confirming fixed. Incidentally, the axis label is repeated for each subplot. I agree that the tick labels should be repeated, but I think it's sufficient to show the axis label just once.

[2016-09-09 12:17] dppalomar commented on #156
Dear Ryan,

First of all, thanks for this great package.
I found this thread because I had the same problem, I can tell you how to reproduce the error. Basically ly_abline does not work with dates, that's it.

This code does not use ly_abline and works well:
x <- seq(from=as.Date("2010-01-01"), to=as.Date("2010-02-01"), "days")
y <- seq(from=1, by=1, length.out=length(x))
rbokeh::figure() %>%
  ly

[2016-09-09 22:00] DeliciousPickle opened #182 "Can't change plot background color"
I've tried every way I can find to change the background color of an ly_bar plot, but no matter what I try it stubbornly remains white.  theme_plot(background_fill) doesn't seem to work at all.  Can you please tell me how to change the background color of an ly_bar plot?  Any examples would be greatly appreciated.

[2016-09-09 22:22] DeliciousPickle commented on #182
I should add that I'm experiencing this problem in the context of a Shiny application.  Attached are ui.R and server.R files for a simple example, based on one of the rbokeh examples at http://hafen.github.io/rbokeh/.   (.txt extension added so the files would upload here.)

[server.R.txt](https://github.com/bokeh/rbokeh/files/464949/server.R.txt)
[ui.R.txt](https://github.com/bokeh/rbokeh/files/4

[2016-09-09 22:27] DeliciousPickle commented on #182
Here's another example, this time NOT in Shiny.  Still doesn't color the background.

`require(rbokeh)

p <- figure() %>%
    ly_points(
        Sepal.Length, Sepal.Width, data = iris,
        color = Species, glyph = Species,
        hover = list(Sepal.Length, Sepal.Width)
    ) %>%

    theme_plot(
        background_fill = 'red'
    )

p
`

[2016-09-11 17:09] mportillo14 commented on #161
I thought the callback provided the index of the row of the data as well, so I wrote a script to use that index as a reference to the dataset so I could get various attributes and summary statistics as output for the points selected. But the index the callback provides and the rownumber of the data doesn't seem to be matching up for me.

[code]

[2016-09-11 23:18] hafen commented on #182
This is working for me with the latest rbokeh (which will hopefully be on CRAN this upcoming week).

You can install with:

install_github("bokeh/rbokeh@dev")

Then you need to use background_fill_color instead of background_fill and your example will work.  Note there is also now a background_fill_alpha parameter as well.

Ryan

[2016-09-11 23:20] hafen commented on #178
Great thanks for checking.  Concerning the axis labels repeating, I agree that they should be shown only once but I'm not sure how to make that happen with Bokeh.  If you see an example of a grid plot in Bokeh that has this behavior, please let me know - I generally figure out how features work in Bokeh by reverse engineering the json spec.

[2016-09-11 23:24] hafen commented on #156
Thanks @dppalomar.  Did you run your above examples with the latest version of rbokeh, installable with `devtools::install_github("bokeh/rbokeh@dev")` ?  I fixed some date issues in this version and the examples appear to work for me.

Concerning xts output, is it just `rbokeh2html` that doesn't work?  Do those plots render correctly if you simply print them?  It would definitely be good to suppor

[2016-09-11 23:30] hafen commented on #161
There are some issues with the index currently.  One is that it is a zero-based index.  So simply adding one to the index might fix your issue.  Another is that sometimes rbokeh has to break a single layer into multiple Bokeh layers, and the actual index gets lost in the process.  The callbacks are something I'm going to be giving much more attention to soon, once I get the most recent updates rel

[2016-09-12 00:34] mportillo14 commented on #161
Ok, that sounds great. I'll definitely play around with it. Thanks a lot for the heads up!

Again, I really love the package and excited to see it grow.

[2016-09-12 14:34] DeliciousPickle commented on #182
Thanks!  I'll give it a try.

[2016-09-13 04:24] dppalomar commented on #156
Ryan, you are right that installing the latest version fixes the issue with ly_abline and dates. Thanks.

However, that version gave me some new issues with grid_plot (which does not respect now the width and height of the individual figures). It also gave me a new issue with rbokeh2html (the generated html does not open properly in my browser, it is now blank). So I am going back to the more stab

[2016-09-13 16:26] hafen commented on #156
Thanks Daniel.  I'll take a look at these examples.

Also, I am planning to release the dev version of rbokeh to CRAN very soon.  I've been using it a lot and consider it to be quite stable, but it's difficult to test every corner in a systematic way and it appears you have a few issues with it.  If you don't mind, could you provide me with reproducible examples of grid plot and rbokeh2html that d

[2016-09-13 18:47] igoldin2u opened #183 "remove logo by default in grid_plot"
Now that we have bokeh/rbokeh@098b388 , `grid_plot` should also not have a logo by default.

[2016-09-13 21:07] igoldin2u opened #184 "in list of lists grid_plot with missing entries, axis labels may be blank"
If you have a list-of-lists call to `grid_plot`, and if an entry in the list of lists is missing, and if that entry is the first in a row or in a column, then the axis label for that entire row or column will be blank. See the X axis label for cut==Ideal:

[code]

This would be fixed by only displaying each axis label once, if that's possible in Bokeh.

[2016-09-14 09:48] dppalomar commented on #156
Ryan, below I pass you the code with three issues that I have encountered. You can reproduce the errors now.

Issues:

1) Using the rbokeh version in GitHub, rbokeh2html does not generate a correct html file that can be opened. I open with Chrome and nothing appears. The same with Safari.

x <- seq(from=as.Date("2010-01-01"), to=as.Date("2015-02-01"), "days")
y <- seq(from=1, by=1, length.out=leng

[2016-09-14 14:30] igoldin2u opened #185 "In grid_plot, can't format title"
In a grid plot, specifying any parameters to `theme_plot` that affect plot title makes the whole grid plot blank.

[code]

[2016-09-22 06:46] hafen commented on #185
Thanks.  This is on my list to check out (as well as the other examples you have provided... - thanks for your patience - I've been traveling the past 2 weeks).  I hope to knock these out early next week.

[2016-09-22 19:16] igoldin2u commented on #185
I think the bigger point with `grid_plot` issues is that there needs to be a canvas for all the subplots, and that one needs to manipulate properties of that canvas: set the main title, show one axis label (rather than one per subplot), show one legend (rather than one per subplot), etc. I didn't file a separate issue (I could!), but right now, you might even have a factor level that is colored di

[2016-10-05 20:57] #155 closed

[2016-10-06 00:19] hafen commented on #184
This is by design.  If a `NULL` list element is passed to `grid_plot`, it doesn't plot anything at all.  `grid_plot` tries to be agnostic to what types of plots you might put in each grid, so it doesn't try to make assumptions about what should go there if you give it an empty element.

Instead, swapping one line of your example, you can be explicit about what you want plotted in the empty grid sp

[2016-10-06 00:19] #184 closed

[2016-10-06 02:29] hafen commented on #185
I fixed this in the latest commit: https://github.com/hafen/rbokeh/tree/master.  The way it works is you can theme your grid plots after the GridPlot object has been created.  You can still do it before as well, but things like titles are overwritten if you give it a named list.

Here are some examples:

[code]

[2016-10-07 07:28] #156 closed

[2016-10-07 07:28] #183 closed

[2016-10-07 07:28] #160 closed

[2016-10-07 07:28] #182 closed

[2016-10-07 07:28] #185 closed

[2016-10-21 07:00] carbonmetrics opened #188 "Generating histogram"
I am trying to generate histograms via `ly_hist` and `ly_bar` and got unexpected results.

A question on [stackoverflow](https://stackoverflow.com/questions/40154386/how-can-i-make-a-histogram-in-rbokeh) did not give useful answers.

I am therefore submitting the question as an issue.

[2016-10-23 17:56] igoldin2u commented on #188
Try this: use `hist(..., plot=FALSE)` to compute the histogram without visualizing it, with just the breaks or bin width that you want. Then see if `ly_hist()` actually shows the wrong output with the same breaks. If it does, you've found a bug, but only then.

[2016-10-24 13:27] hafen opened #189 "Honor factor levels for axis ranges by default"
For example:

[code]

The x-axis of this plot should follow the ordering of the factor levels.

[2016-10-24 13:32] hafen opened #190 "Allow numeric input to ly_bar"
`ly_bar` tries to be flexible in allowing one or two variables and determines which one is the categorical and which is the quantitative variable to be aggregated for each level of the categorical variable.  The second variable is optional (and counts are computed for the aggregation if it is not specified).  If only one continuous variable is specified, rbokeh should attempt to turn it into a cat

[2016-10-24 13:33] hafen commented on #188
I answered the question on SO.  But it brought up a couple issues to be addressed that would make things more convenient.  I've opened #189 and #190 and am closing this.

[2016-10-24 13:33] #188 closed

[2016-11-03 08:26] hafen opened #191 "iframe output in widget2gist doesn't get dimensions if height and weight are NULL"

[2016-11-06 12:04] dechering commented on #191
I discovered last week Rbokeh. It is great for our citizen's action group to monitor the data on planes to Amsterdam Airport Schiphol. Attached you find a link to a video with Rbokeh applied to the data from low flying planes and the noise they make.Because of the size here the link to my dropbox:
https://www.dropbox.com/s/2uwzcje3ed45c90/Warmond%202015-2016%20lowflying%20planes%3C610m.mov?dl=0

T

[2016-12-13 14:02] percyfal opened #192 "mouse pointer misplaced in revealjs presentation"
Hi,

first, kudos for creating a great package! I have been struggling to insert bokeh plots into [reveal.js](http://lab.hakim.se/reveal-js/#/) using [revealjs with rmarkdown](https://github.com/rstudio/revealjs). With rbokeh, it worked without hassle!

Well, almost. Currently, the mouse pointer is misplaced (see attached image). I am using rbokeh 0.5.0, revealjs 0.7. A minimal working example is

[2016-12-14 19:09] hafen commented on #192
Hi Per,

Thanks for the kind words about the package.

This issue is being caused by revealjs using a CSS “zoom” technique on the slides that scales the plot in the browser. The mouse events are not aware of this zooming so they behave as if the image is at its original size.

You can get rid of this behavior and fix your issue by setting reveal options “minScale” and “maxScale”  to 1. I would als

[2016-12-19 12:42] percyfal commented on #192
Hi Ryan,

that works beautifully! I guessed css was the culprit, but I had no idea where to start. Thanks for the heads up!

/P

[2016-12-19 12:42] #192 closed

[2017-01-06 14:44] scizmeli opened #193 "How to query y-axis limits of an already existing plot?"
I am trying to create an Rbokeh-powered shiny app where I keep on adding new data of different lengths on the same timeseries graph (x data is  POSIXct). Since all the data are of different length,I do not use the **data=** option in ly_xx() plotting functions. As the last layer, I also need to plot centered rectangles depicting time events ( that cover the whole figure height). I try to achieve t

[2017-01-17 08:58] yilmazbrs opened #194 "How to get jquery mouse click position or coordinate in shiny"
I am making shiny app and  using  Rbokeh to display  data. It is timeseries graph (x data is POSIXct). I do not know how to get jquery mouse click position or coordinate  from Rbokeh  in shiny. if i get it, i will store it in reactive value and use it in different operations

How is geting  jquery mouse click position  possible?
thanks a bunch
Baris

[2017-01-18 15:35] sedot42 opened #195 "If using fixed custom colours based on attribute with ly_lines, legend shows colour string and not group string"
Hi and thanks for your work. I need to have consistent appearance of variable colours in my plots. That's why I assigned every data a custom colour ("#AABBCC") based on variable. Then I plot the data using ly_lines(color = colour_variable), mapping the color property to the color_variable. Unfortunately then, the legend then shows the raw colour strings and not the variable names. I could not over

[2017-01-25 20:33] lianos opened #196 "Programmatically reset the (brushed) state of a plot?"
This question pertains to the use of rbokeh within the context of a shiny application.

Is there a way to programmatically fire an event from the R side that would have the same affect as hitting the "Reset" button in an rbokeh plot's toolbar?

There are a few cases where I've found the need to do this. One of the (initially) more surprising ones is when you've got a plot on display that the user

[2017-02-02 20:27] masalmon opened #197 "Update the elements"
I couldn't find where the elements table was created for the package. A few elements got new names and symbols: https://iupac.org/iupac-announces-the-names-of-the-elements-113-115-117-and-118/ 😄

[2017-02-07 14:15] joj3810 opened #198 "gmap Underflow Issue"
An issue with Google Maps objects underflowing out from their frames has been affecting rbokeh in recent weeks.

The issue was raised in the Google group and apparently fixed for the newest release of the library, but the issue is still in rbokeh.
https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/4GaPygTvhC8
https://github.com/bokeh/bokeh/issues/5801

![image](https://cloud.githubuserco

[2017-02-07 14:36] bryevdv commented on #198
This is fixed only in the master branch, it is not yet in a full release. It is in the last dev build, which can be installed with conda:

        conda install -c bokeh/c/dev bokeh

Or alternatively you can build Bokeh from source using the instructions in the dev guide.

Thanks,

Bryan

[2017-02-07 14:38] bryevdv commented on #198
Sorry on my phone I didn't notice this was an RBokeh question. However the above information about the fix only being in a dev build at this point is correct.

[2017-02-07 16:19] joj3810 commented on #198
Great, thanks for clarifying.

[2017-02-17 08:18] hafen commented on #198
I've updated rbokeh to use the latest production version of BokehJS (0.12.4) and I'm still doing some testing of other things on it, but this issue still exists with this version. @bryevdv, will the fix be in the next release?

[2017-02-17 08:18] hafen commented on #197
Oh cool! I'll update accordingly when I have a chance.

[2017-02-17 08:19] hafen commented on #196
Looking into this...

[2017-02-17 08:24] hafen commented on #195
Thanks. This is indeed an issue that's been bugging me for a while and I'm actively working on it. It's a major refactor dealing with color mappers as you suggest. While I'm at it I'm going to support using factors so that color mappings can stay consistent across plots. I'll post back when it's complete.

As a (ugly) workaround for now, you can iteratively use `ly_lines(..., color = "#AABBCC", le

[2017-02-17 08:27] hafen commented on #194
This is possible, but it may require a little work. Do you want to get the actual x, y coordinates, or the screen coordinates? If the former, it should actually be pretty easy. If you can provide me an reproducible example of the plot (don't need the full shiny app - just the plot), I can help out.

[2017-02-17 08:54] hafen commented on #193
Sorry for the delay and thanks for the reproducible example.

Unless you are dealing with extremely large data, recreating the entire figure from scratch would be the best solution here. That way you will know the overall height needed for the rectangles each time before you draw them. Here's an example.

[code]

Another alternative if you want to stick more closely to the code you have, is to set

[2017-02-17 08:54] masalmon commented on #197
Great! I know this https://github.com/andrejewski/periodic-table is up to date since @dacornu's PR, maybe an useful source?

[2017-02-17 15:59] mingwandroid opened #199 "RBokeh not working on Firefox on macOS from conda."
This issue began over at https://github.com/ContinuumIO/anaconda-issues/issues/1391, but has now morphed into something that seems to be rbokeh specific. Conda defaults has the latest packages for nearly all of this stack at present. A simple example of RBokeh works fine in Chrome and also Safari but not in Firefox.

To create the environment:
[code]

Test-case:
[code]

Warning from Chrome:
[code]

[2017-02-17 16:41] ijstokes opened #200 "rbokeh doesn't render with Firefox when using Jupyter"
The details are captured from this comment down: https://github.com/ContinuumIO/anaconda-issues/issues/1391#issuecomment-280674351

Haven't been able to find a work-around, don't know enough JS to provide any additional insights.

[2017-02-17 20:16] hafen commented on #199
I believe the FF thing is an issue that might effect all htmlwidgets in notebooks, not just rbokeh. For example, I tried another htmlwidget, d3heatmap:

[code]

And it doesn't work in a notebook in FF but it works in Chrome and Safari. Can you try this example and see if there are commonalities in the errors?

/cc @ramnathv

[2017-02-17 20:17] hafen commented on #200
See here https://github.com/bokeh/rbokeh/issues/199

[2017-02-17 20:17] #200 closed

[2017-02-17 21:15] ramnathv commented on #199
@hafen are you talking about jupyter notebooks? can you provide a reproducible example.

[2017-02-17 21:53] mingwandroid commented on #199
I tried this:
[code]

and got the same thing, no joy from Firefox (exact same exception), worked fine in Chrome and Safari.

[2017-02-24 18:21] d-diaz opened #201 "error install r using conda"
When I try to install R and R-essentials using conda at command prompt:
[code]
I get the following error:
[code]
I am on Windows 10, Python 3.5, and just updated to Anaconda v1.6.0 and still receiving this error.

[2017-02-24 23:18] mingwandroid commented on #201
Please show the output from `conda info` and `conda list --show-channel-urls`.

[2017-02-24 23:49] hafen commented on #201
Thanks @mingwandroid - this is outside my expertise.

[2017-02-24 23:53] mingwandroid commented on #201
If it's possible to assign this to me go ahead, it'll help ensure I don't lose track of it.

[2017-02-25 01:04] bryevdv commented on #201
@mingwandroid it's not, unless you get added to @bokeh/dev maybe make an issue in another repo you are a maintainer on, and link back?

[2017-02-25 01:14] hafen opened #202 "Repeating attributes when specifying global data"
When specifying a global data source (e.g. `figure(..., data = x)`) and then adding a singleton layer that does not use that data source, the attributes are repeated as if the global data source was expected to be the source for the singleton layer. A good example of this `ly_text()`.

The first example below is correct. The second example draws the text `nrow(cars) = 50` times. The culprit is her

[2017-02-28 16:04] tkandl opened #203 "error installing r-essentials on windows 7"
When I try to install the r-essentials, I get the following error:

`$ C:\ProgramData\Anaconda3\Scripts\conda-script.py install -c r r-essentials=1.5.2`

Traceback (most recent call last):
File "C:\ProgramData\Anaconda3\lib\site-packages\conda\exceptions.py", line 617, in conda_exception_handler
        return_value = func(*args, **kwargs)
File "C:\ProgramData\Anaconda3\lib\site-packages\conda\cli

[2017-02-28 16:09] #203 closed

[2017-03-10 18:20] d-diaz commented on #201
[code]

[code]

[2017-03-10 18:22] d-diaz commented on #201
In case it's helpful, I was able to successfully install r-essentials using these same commands on my Mac this morning.

[2017-03-10 21:37] mingwandroid commented on #201
Can you try `conda update conda` then try again? The early releases of the 4.3 series were very broken on Windows unfortunately.

[2017-03-20 10:36] zebulon2 opened #204 "NA values correctly skipped in linear scale but not in log scale"
Hi,

I found what I believe to be an issue with the handling of NA values when doing a figure with a log axis.

Here is a code example:
[code]

The NA value is skipped correctly:

![rbokeh_y_linear](https://cloud.githubusercontent.com/assets/1568591/24096181/6c4a666c-0d58-11e7-8739-6299aaf6e53f.png)

Now if I type
`> y_axis(p, log=TRUE)`

The NA value is not skipped and leads to this issue:
![rbok

[2017-03-21 19:00] bryevdv commented on #198
@hafen yes the fix is in recent dev builds and will be in `0.12.5` this week (along with many other gmap fixes and improvements)

[2017-03-22 14:28] zebulon2 commented on #204
I wanted to update this report: this is not a rbokeh issue, but a problem in bokeh itself, which I reported here: https://github.com/bokeh/bokeh/issues/6035.

[2017-03-22 14:28] #204 closed

[2017-03-25 20:55] kleanthisk10 opened #205 "Horizontal Boxplot"
Hello, is there the capability to plot a horizontal boxplot?

My code is:
   figure() %>%
      ly_boxplot(y=Species, x=Sepal.Length, data = iris)
       and i tried:
   figure() %>%
      ly_boxplot(y=Species, x=Sepal.Length, data = iris) %>%
    x_range(c(0 ,max(iris$Sepal.Length))) %>%
      y_range(iris$Species)

But not working

[2017-04-03 18:50] werner-rammer opened #206 "respect order of factors in barplots"
Currently, `ly_bar` does not respect the order of a factor when plotting (the way that for instance `ggplot` is doing it).
For example:
[code]
This plots the bars in the order of a,b,c,d (alphabetical order), but I'd expect the order to be d,c,a,b.

Is there any other way how the order of categorical values can be defined?

[2017-04-08 00:10] hafen commented on #206
Sorry for the delay on this - been out of town.

I agree that factor ordering should be honored by default in the axes and this will be addressed in the future (feel free to leave this issue open).

For now, you can control the ordering of categorical axes by specifying the order in the `xlim` or `ylim` arguments.

For example:

[code]

[2017-04-08 00:52] hafen commented on #198
Thanks @bryevdv. I'm working this into rbokeh now.

[2017-04-08 15:27] werner-rammer commented on #206
this works great - thanks for the answer! I wasn't aware of the fact that the ordering can be specified directly via the `xlim` and `ylim` arguments (for categorical variables). You might consider adding this also to the documentation - I guess this is useful for many people.
I'll leave the issue open for now (as you suggested).

[2017-04-08 16:22] lianos commented on #206
Yes, good to know indeed. This is an incredibly useful tip.

[2017-04-10 15:19] dseynaev commented on #195
The suggested workaround does not seem to work and produces several warnings:

`Warning messages:
1: In if (!is.na(ns_glyph_attrs[[ii]]$value)) ns_glyph_attrs[[ii]]$value <- "#e1e1e1" :
  the condition has length > 1 and only the first element will be used`

I was able to achieve to achieve the desired effect using `set_palette` instead, but of course this then applies to the other layers as well,

[2017-04-12 08:03] hafen commented on #204
Thanks. And thanks for tackling the issue too!

[2017-04-24 22:57] tr8dr opened #208 "axis range does not adjust based on data in view"
When **xlim** is set, constraining the view to a smaller set of data, the y range reflects the data range of the whole series _rather than the range of visible data_.  This is true for the initial state of rendering as well as when the data is panned.

If this is the correct default behavior, is there a way (even if is a javascript-side hack) to get the y-range to adjust to the range of visible da

[2017-04-27 17:03] tr8dr opened #209 "x_range and y_range callbacks do not activate"
In the **rbokeh/man-roxygen/ex-callback.R** shiny demo app, callbacks are set up to trigger a shiny output when the x or y range changes:

[code]

The hover_info and selection_info callbacks trigger properly, but do not receive any callbacks for either x_range or y_range.  This was tested on both safari and chrome on both a macbook pro (10.11) and mac pro (10.12.4).

Is this a bug or are the x_ran

[2017-04-28 13:48] tr8dr commented on #208
I figured this out, by writing custom JS:

[code]
It would be nice to have an option to do this automatically in a future version of bokeh / rbokeh.

[2017-04-28 13:48] #208 closed

[2017-04-28 22:35] hafen commented on #208
Oh great! I'm glad you were able to work this out. I started writing up a solution the other day and had several things come up that kept me from completing it.

It would be nice for the callback to be responsive to changes in either axis. For example, if you zoom in too much on just the x-axis and then zoom back out in just the x-axis (by using the wheel zoom tool while hovering over the x axis a

[2017-04-28 22:41] hafen commented on #208
Also, as for the default behavior, I'm not sure if the y axis limits should adapt to data according to a custom-set x axis range by default, although I hadn't thought of this scenario. It seems that if a user in the state of mind to specify a custom axis range for one axis, they would also do so for the other if they wanted complete control. For a frame of reference, this is also the default behav

[2017-04-28 22:42] tr8dr commented on #208
I had the same problem re: the y axis object not responding to updates.   the kludge was to put the event on the y_range object, so that the cb_obj is the y axis.  This object does respond to changes.   I think the option / behavior should be an option in core BokehJS so that rbokeh can just latch into it.  I will add as a suggestion in the main bokeh project at some point.

[2017-04-28 22:43] hafen commented on #208
Great idea. The more that can happen in core BokehJS the better!

[2017-05-01 13:24] tr8dr opened #210 "dynamically adjust figure from server side"
First wanted to say thanks for putting this package together.  rbokeh has a better API (IMO) than the python version.

The python version of the bokeh library has a special server mode, allowing dynamic update of figures.  rbokeh integrates with shiny (which is great).  Based on what I've seen, however, shiny <-> bokeh is regenerating the graph on each adjustments.   For fairly complex renders thi

[2017-05-02 08:37] hafen commented on #210
Thanks! You're right that the current paradigm for using a server with rbokeh is to use Shiny, but you're also right that the support is a bit lacking in that you currently can't update aspects of a figure without re-rendering the whole thing. One reason for this is that when I first wrote rbokeh, there was a lot of stuff that needed to be handled in R like mapping data values to various plot attr

[2017-05-02 13:26] claire-roberts opened #211 "theme_title text_align does not work"
I'm trying to center align my plot title and it seems that theme_title(text_align='center') does not work.
An example is below

figure(title="Plot") %>%
  ly_points(1:10) %>%
  theme_plot(background_fill_color = "#E6E6E6",
             outline_line_color = "white") %>%
  theme_grid(c("x", "y"), grid_line_color = "white",
             minor_grid_line_color = "white",
             minor_grid_line_al

[2017-05-02 19:08] tr8dr opened #212 "changing datetime formatting on an axis"
I want to be able to change the default datetime formatting on an axis.  I've tried a number of approaches, borrowing what i understand from looking at the repository source code and also from the python implementation but have been unable to determine:

[code]

Primarily I wanted to change the display for the above (removed the x_axis code to see) from showing times as ":10", ":20" to "08:10", ..

[2017-05-02 20:08] hafen commented on #211
Oops - It looks like the align parameter name has been changed in Bokeh to just `align` instead of `test_align`. I just fixed this on the master branch. I have some other changes to work in before I put this update on CRAN, but you can install from github for now to get this fix. Thanks.

[2017-05-02 20:08] #211 closed

[2017-05-13 15:14] tr8dr opened #213 "tool positioning lost when using grid"
The **toolbar_location** works fine with one figure, however is ignored (and the default is used) with a grid setup.   I'll see if can determine how to fix this, in the meantime posting as a bug.
[code]
If one instead evaluates just **fig1**, then will render with the toolbar on the right.

[2017-05-13 16:51] tr8dr commented on #213
I modified the **fig_grid.R** code to make use of a **toolbar_location** parameter.  However noted, probably as the author did, that the positioning of the toolbar only works for **left** and **above**.  Perhaps bokeh does not know the proper dimensions of the grid and thus cannot position to the right or below.   Don't know whether this is a bokeh JS limitation or whether is a limitation in terms

[2017-05-14 19:05] tr8dr opened #214 "shiny callbacks lost when using grid_plot"
Due to the code in grid_plot which clears out tools in each figure, this also has the effect of losing callbacks set for a given tool function (for example tool_tap).   I am not sure whether it is possible in institute tool_tap callbacks without the toolbar being visible?

This does not work, for example:
[code]
I could not determine how to solve this in the code without leaving the toolbars on ea

[2017-05-26 16:16] FatFeng opened #215 "show datetime in local time zone"
It looks like the rbokeh always plots the datetime in the UTC time zone. Could it be modified so that it can show in a local time zone as well?

For example:
`x <- seq(as.POSIXct("2011-1-1 08:00", tz='Asia/Hong_Kong'), as.POSIXct("2011-1-10 08:30", tz='Asia/Hong_Kong'), len=1000)`
`y <- 1:1000 * 0.1 + rnorm(1000, sd=2)`

The datetimes of the last 10 points are
`> print(tail(x, 10)) # show last tim

[2017-06-01 20:00] aforren1 opened #216 "Warnings related to `I(NULL)` in R 3.4.0"
`structure(NULL, ...)` , and therefore `I(NULL)`, started giving warnings in R 3.4.0 (news [here](http://developer.r-project.org/blosxom.cgi/R-devel/2016/12/28#n2016-12-28)).

Reproducible example:
[code]
Running on R 3.4.0 (Windows 10) leads to warnings of:
[code]
One warning stemmed from htmlwidgets, but was fixed in https://github.com/ramnathv/htmlwidgets/pull/270.

Swapping `I(NULL)` for `list

[2017-06-07 04:38] hafen commented on #216
Thanks. I have fixed this, among other things in the master branch of `hafen/rbokeh`. After a little more testing and sanity checks, I'll merge it here and publish to CRAN. If you find any issues with it let me know.

[2017-06-07 04:40] hafen commented on #214
Things get a little messy with multiple tools in a `grid_plot` so I don't think it will work. I'm working on a major internal overhaul right now that will hopefully simplify some of these things.

[2017-06-07 04:41] hafen commented on #198
This has been fixed in `hafen/rbokeh`. You can verify with `devtools::install_github("hafen/rbokeh"). I'll be merging here and pushing to CRAN soon.

[2017-06-08 17:01] aforren1 commented on #216
Thanks! Your master branch worked fine for me.

[2017-06-08 17:01] #216 closed

[2017-06-16 20:58] hafen commented on #197
Note to self: use this code (from [here](http://www.masalmon.eu/2017/02/03/chemist/)) to update the data:

[code]

[2017-06-22 07:54] dseynaev opened #218 "Scatterpoint hover sometimes does not display values for certain columns"
The following works correctly for me:
`rbokeh::ly_points(figure(), a, b, data.frame(a = c(1,2), b = c(3,4)), hover = "@a and @b")`

Curiously this does not:
`rbokeh::ly_points(figure(), a, ab, data.frame(a = c(1,2), ab = c(3,4)), hover = "@a and @ab")`

The value shows up as '???'

I suspect that names collide when one of them starts with another as a substring.

R 3.3.3, rbokeh_0.5.0 rj_2.1.0-11,

[2017-06-22 08:35] dseynaev commented on #218
This also seems to work (changed the order of appearance in the hover template):
`rbokeh::ly_points(figure(), a, ab, data.frame(a = c(1,2), ab = c(3,4)), hover = "@ab and @a")`

[2017-06-28 19:48] colinbrislawn commented on #86
Any updates on this? I'm moving from trelliscope to trelliscopejs, and exploring rbokeh as an alternative to ggplot2. An elegant way to do heatmaps would be really nice.

[2017-06-28 21:36] hafen commented on #86
I do plan to support this. I'm working on a complete overhaul of the internals of rbokeh right now that will clear things up a lot for easier future development. This should be out in 4-6 weeks. I'd prefer to add this to the updated version and think I (or a contributor) could do it pretty soon after that is released.

[2017-06-28 22:05] colinbrislawn commented on #86
I'm glad to hear there is an update planned!
Thank you for developing this constellation of software.

[2017-07-26 16:58] mingwandroid commented on #199
Is there any progress on this? I'd love to be able to recommend Firefox here but cannot.

[2017-08-08 16:24] flying-sheep commented on #199
hi, i didn’t find a solution for this yet, but if you get some recursion error, please upgrade IRkernel 0.8.7→0.8.8

[2017-09-02 17:39] colinbrislawn opened #219 "Edit legend_titles"
Good morning,

I just made this plot, and the legend has super long titles:
<img width="676" alt="screen shot 2017-09-02 at 10 31 56 am" src="https://user-images.githubusercontent.com/10355152/29997515-1060f704-8fca-11e7-9714-0494f13ea52f.png">

Instead of passing a typical column, I defined color pallet using
`ly_points(x, y, color = interaction(col1, col2, col3) ...`

Any way to edit the legend

[2017-09-03 08:26] hafen commented on #219
Yikes! Unfortunately it's difficult to edit legend titles right now, but I'm working on a refactor that should make this possible which will be out in a couple of weeks. Stay tuned.

[2017-10-16 07:43] sergejkaiser opened #221 "Hexbin layer color legend"
It would be a great feature to include a color map on the left or right side of a plot with hexagonal binning,
similar as implemented in ggplot2.
![image](https://user-images.githubusercontent.com/14999712/31600358-67d0e0ea-b256-11e7-9a25-977a36bf077b.png)

[2017-11-21 10:43] sedot42 commented on #132
Hi, I want to use the `legend` and `color` parameters together with the `hover` parameter. This is not possible without the `data` parameter I think, that's why the workaround does not work for me. Please reopen the issue.

[2017-11-24 15:44] joj3810 opened #222 "Issue with x_range (and y_range) breaking ly_abline"
(Using 0.5.1)
I've just come across an issue using `ly_abline` together with `x_range` when plotting a discrete axis.

Plotting an abline (using `h` or `v`) works fine when `x_range` is not called, but when I add in `x_range` in order to set the order, only a small section of the horizontal abline gets plotted (i.e. it no longer traverses the entire width of the plot). I've seen the issue with `ly

[2018-01-23 01:07] swapna-akula opened #223 "Unable to install package"
Error message. Same issue with all US mirrors. Could you please help.

![image](https://user-images.githubusercontent.com/35712369/35252711-8a6c2ca8-ff96-11e7-87ee-611a75e36c70.png)

[2018-01-23 01:09] #223 closed

[2018-03-12 15:58] NemanjaVucic90 opened #224 "issue with colorRampPalette within ly_points"
Greetings guys,

I am having troubles running this example code
<img width="788" alt="screen shot 2018-03-12 at 4 55 49 pm" src="https://user-images.githubusercontent.com/17168657/37294577-61fe6ca8-2616-11e8-8127-bfe20a29c4b4.png">
<img width="999" alt="screen shot 2018-03-12 at 4 56 08 pm" src="https://user-images.githubusercontent.com/17168657/37294581-66ae86e8-2616-11e8-8185-1d8c9b30f69d.png">

[2018-03-27 22:37] q15928 commented on #75
The latest Bokeh (0.12.14) has the HoverTool which can show the tooltips for all the figures. There is an example of HoverTool for ly_lines in the link. [HoverTool](https://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#hovertool)

Can you please include in the next release? Thanks in advance.

[2018-04-09 17:02] knmackay opened #225 "tool positioning lost with rbokehOutput when height is set at %"
When the height parameter uses %, the toolbar_location defaults to "left," even when specified.

`ui <- fluidPage(
  rbokehOutput("rbokeh", height  = "500%")
)

server <- function(input, output, session) {
  output$rbokeh <- renderRbokeh({
    figure(toolbar_location = "above")
  })

}

shinyApp(ui, server)`

[2018-04-12 11:51] sbsdc commented on #224
Your are running the dev version (0.6.3). Your code works fine with the CRAN version (0.5.0).

[code]

[2018-07-27 16:09] bdpiccolo opened #226 "axis_label_text_font_size in theme_axis does not respond"
The axis_label_text_font_size does not seem to respond to my input.  However, major_label_text_font_size does.

[code]

![bokeh_plot](https://user-images.githubusercontent.com/12171111/43332027-b7ed7ea6-918c-11e8-81c3-a47048c7f85b.png)

Running rbokeh_0.5.0 on R version 3.5.1.

Have not tried the development version as my work's firewall doesn't allow me to install from github.

Keep up the good w

[2018-07-28 09:55] sbsdc commented on #226
Confirmed. It looks like the font_size values are correctly passed as attributes, but not used to render the plot. Instead, for major labels, rendering is done using the `axis_label_text_font_size` attribute.
A dirty hack could be to modify the plot object manually (line `bkf$x$spec$theme$axis$axis_label_text_font_size = "30pt"` below). It will apply to both x and y.

[code]

[2018-08-02 07:53] DavidVirant opened #227 "Extracting and working on selected data"
Hey,

Would it be possible to extract data selected in a Bokeh scatter plot back into Python? For example, I have a scatter plot, I select a small subset of the points and they are returned as an array with their x and y positions,a s well as any other indices they might have?

If it's not possible now, is there any chance you might add support for something like this in the future?

Cheers!

[2018-09-04 12:55] sbsdc commented on #227
I'm not sure why you speak about Python, since this repo is for rbokeh, the R version of bokeh.
If you work with bokeh in Python, you should have a look at callbacks [here](https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/callbacks.html).
In R, callbacks are possible in Shiny applications. See [here](https://github.com/bokeh/rbokeh/issues/152#issuecomment-216946818) and [here](http:/

[2018-09-04 14:16] bryevdv commented on #227
People sometimes use both R and Python together in the same project

[2018-09-08 23:16] OmaymaS opened #228 "Issue with mapping big values to size in ly_points()"
There's an issue with mapping big values to size in `ly_points()`, it doesn't scale well to fit in the figure dimensions.

For instance, if we take the following examples with `gapminder` data, the population is in millions, and the resulting plot would be just blank, coz everything overlaps.

[code]
![bokeh_plot](https://user-images.githubusercontent.com/13340411/45259428-e9ae1380-b3cc-11e8-873d-

[2018-09-09 09:56] region-spotteR commented on #216
On R 3.5.1. I get the warning again. I first had the CRAN-version, then removed it and get the warning again with the Github-Version (used installation with devtools) :(

[2018-09-10 17:10] hafen commented on #228
You should consider something other than a linear scale for the size of the points, such as the log or square root (e.g. `size = log10(pop)`). This is more of a visualization design issue than an rbokeh issue, although we should eventually provide better support for succinctly specifying different scales, particularly in this case specifying to use area rather than size.

[2018-09-10 17:10] #228 closed

[2018-09-10 17:10] hafen commented on #216
Thanks for bring this up again. I'll try to get the right fix on CRAN this week.

[2018-10-03 16:56] mattaws opened #229 "arranging plot side by side in knitr html"
I am struggling to arrange plots side by side.  Online research suggests par(mfrow = c(1, 2)) or grid.arrange.  grid.arrange seems to only work with "globs" which are outputs of ggplot.  par does not seem to work for me

[code]

[2018-10-04 06:52] sbsdc commented on #229
Why not `grid_plot`, as mentioned in your note2? It looks like you can combine different figures from different data.frames.

[code]

[2018-10-05 09:40] lcougnaud commented on #216
I also get the same warnings on R 3.5.1, with the package esetVis (I am the maintainer): [BUILD report](http://bioconductor.org/checkResults/devel/bioc-LATEST/esetVis/malbec1-buildsrc.html).

[2018-10-05 10:23] lcougnaud opened #230 "Issue specification variable names in hexbin (rbokeh version 0.6.3)"
I encountered an issue when specifying field names with a specified dataset in `ly_hexbin` function with the version 0.6.3 of the package (installed to check the issue #216).
[code]

I haven't encountered this issue with the CRAN version of the package (0.5.0).
Please note that this works when the variables are directly specified as vectors:
[code]

[2018-10-05 16:22] hafen commented on #216
I'm pushing the updated version to CRAN today.

[2018-10-21 02:33] mattaws opened #231 "grid_plot width is not dynamic"
My grid_plot only uses half my page.  it stretches if I specify the px width, but I want it to fill the page dynamically and responsively, regardless of screen resolution
<img width="1685" alt="screen shot 2018-10-20 at 7 29 45 pm" src="https://user-images.githubusercontent.com/24397040/47262483-c338c900-d49e-11e8-8604-49cfa6c68765.png">

I have tried to use width = '100%' in the figure, rbokeh ou

[2018-10-22 22:06] sbsdc commented on #231
rbobeh::grid_plot seems to only accept absolute values as width.
A possible solution, not yet perfect at this stage, is to dynamically retrieve the width of the screen, then pass it to grid_plot. Building on top of this [SO answer](https://stackoverflow.com/questions/36995142/get-the-size-of-the-window-in-shiny), we have something like this:

[code]

It requires some refinement: we don't need the

[2018-10-23 16:12] sbsdc commented on #231
For what it's worth, below is an updated version. It's a bit better with: (i) js code handled in an external file, (ii) width only, and (iii) sidebar collapsing taken into account. One drawback is that the plots are re-rendered each time the width changes.
Here is the js code (should be in `www/adjust_width.js`). Disclaimer: I'm a js newbie.

[code]
And the R code:
[code]

[2018-10-24 17:49] bryevdv opened #232 "Update for Bokeh 1.0"
@hafen FYI Bokeh 1.0 has been released. Let me know if I can help get an updated RBokeh ready (I will not be around most of November)

[2018-10-25 21:01] hafen commented on #232
Awesome! The current production rbokeh will not be easy to migrate to 1.0. However, the rewrite I did last year will be easy to update, but as I've mentioned before, there's more testing and documentation that needs to be done with that branch overall before it gets to production, but it's been a very busy year. We can connect more on this offline as necessary.

[2018-10-31 15:25] 7hibault opened #233 "Can I serve rbokeh apps with rbokeh server?"
Hi, thanks for rbokeh, I've been looking into it from htmlwidgets, it looks great!

I'm trying to figure out how to build a web app without shiny and rbokeh seems very promising. However I can't find any information linking rbokeh to the [bokeh server](https://bokeh.pydata.org/en/latest/docs/user_guide/server.html). I've also searched[ rbokeh docs](http://hafen.github.io/rbokeh/) for any mention o

[2018-10-31 15:57] bryevdv commented on #233
It's not currently possible. The Bokeh server is a Python application built on top of the Tornado library. It runs and executes python code in order to generate the Bokeh Document that gets rendered, and to update that document based on callbacks. I can imagine a few different ways that it might be possible to have the Bokeh Server handle R code, but it would require some investigation and be a no

[2018-11-05 16:21] 7hibault commented on #233
Thanks for clarifying @bryevdv , it was a bit difficult to separate bokeh and rbokeh capabilities. I would happily help but as of now, I'm not knowledgable enough to help...

[2018-11-06 01:11] elbamos commented on #232
@hafen I really need the `click_policy` functionality from bokeh.  I'm happy to contribute some time to getting `rbokeh` up to 1.0 if that will get me the `click_policy` functionality.

[2018-11-26 23:05] elbamos commented on #232
@hafen Any update on this?  I and another dev spent some time looking at what we think is your current version of the code (https://github.com/bokeh/bokeh/compare/0.12.15...master ?) and it looks to us that it wouldn't be too much work to get this working.  Again, happy to put time in to make it happen.

[2018-11-27 03:06] hafen commented on #232
Sorry for the delay @elbamos. The location you referenced is for the Bokeh codebase, not rbokeh. I have updated the branch I mentioned to use Bokeh 1.0.1 and it is located here: https://github.com/bokeh/rbokeh/tree/v0.6.5

You can install with

[code]

I've run it through all the tests and it looks okay. But let me know if you run into any issues.

To expose `click_policy` functionality should be

[2018-11-27 03:11] bryevdv commented on #232
@hafen `column_names` is no longer a Bokeh Model Property, it is a read-only Python "getter" property, and is definitely not valid in the JSON. Accordingly, it does not show up in the `spec.py` output:
[code]

so updating your spec is exactly appropriate to do. I think this change was made a few releases ago, but I don't recall offhand exactly.

[2018-11-27 03:17] hafen commented on #232
@bryevdv when I run spec.py:

[code]

I get the following file: https://github.com/hafen/rbokeh/blob/v0.6.5/code-gen/spec_1.0.1.json, which does still show `column_names` as attributes.

[2018-11-27 04:39] hafen commented on #232
Ah I'm glad I checked. For some reason I was under the assumption that the spec JSON is just generated from the checked out code, not the installed bokeh Python package. I had run the spec before updating the Python package, but with the 1.0.1 tagged release branch checked out. It's correct now, but now need to do a little more testing.

[2018-11-27 07:09] sbsdc commented on #232
Thank you for this package. It is awesome.
@hafen, could you please update the link to "barebones.R"? At the bottom of the v0.6.5 branch description: "A bare bones set of functions illustrating how this is done is [here](https://github.com/hafen/rbokeh/blob/refactor/R/barebones.R)."
I guess it could help to better understand how it works under the hood.
Thank you.

[2018-11-27 08:14] hafen commented on #232
@sbsdc thanks for pointing that out - that link is stale because the barebones code was in the early stages of the refactor and is no longer valid. I have started putting together more useful developer documentation, but I won't be able to work on it more until I have some downtime from work, hopefully soon.

[2018-11-27 08:35] sbsdc commented on #232
OK. Thank you for your answer.

[2018-11-28 11:48] ValeriVoev commented on #219
Any progress on this one? :)

[2018-11-28 18:20] elbamos opened #234 "Enable Click Policy"
It would be good to be able to use the bokeh `click_policy` functionality, which lets you click on the legend to hide and show classes.  See https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/legends.html

In terms of where to put this in the interface, if there isn't going to be a distinct `legend` function, then I think the way the API should look is that in the call to `figure`, the

[2018-11-28 18:21] elbamos commented on #232
@hafen Thanks! I created issue https://github.com/bokeh/rbokeh/issues/234 for `click_policy` with a proposal of how I'd think it would work.

[2018-12-04 09:41] ValeriVoev opened #235 "ly_multi_line doesn't render any lines"
I have tried to find examples of the usage of ly_multi_line but as I couldn't  I have been trying myself with the following simple example:
(rbokeh 0.5.0)

`set.seed(2)
d <- data.frame(x = 1:10, y = rnorm(10))
pp <- figure() %>% ly_points(data=d, x=x, y=y)
pp %>% ly_multi_line(xs=list(3.1,3.1), ys=list(-10,10), color='red', width = 1, alpha = 1)`

Expected to see a solid red line at x = 3.1 spanni

[2018-12-10 13:58] ValeriVoev opened #236 "legend_orintation in figure()"
I have seen that having `legend_orientation` was planned for release back in 2016, but I don't think that it was ever implemented. Would that be something to add to the next CRAN release?
Thanks

[2019-01-13 21:29] mwijaya3 opened #237 "Hover doesn't work when x and y is flipped"
Hi,

Thanks for the awesome package. The hover doesn't work when I flip the x and y variable.

For this example, the hover works and I can see 3 value showed up (variable, value, color):

[code]

However, when I flipped the x and y-axis, the hover doesn't work anymore. See example below:

[code]

I tried using the version via devtools and from CRAN. Both have same output.

Thanks!

[2019-01-13 22:37] bryevdv commented on #237
@mwijaya3 We cannot investigate a problem we cannot reproduce. If you cannot share work data, you should create a minimal example with fake data. Otherwise, this issue will be closed with `norepro` resolution.

[2019-01-15 02:18] bryevdv commented on #237
@mwijaya3 thanks, though I should now say that when I was replying on my phone I missed that this was in the RBokeh repo, not the main one. RBokeh is maintained by @hafen so we will have to wait for him to chime in (I don't know anything about R). It's possible that this issue will be fixed when he releases a newer version of RBokeh based on current core Bokeh.

[2019-01-27 19:34] mwijaya3 commented on #237
@bryevdv, thanks for the clarification. I will wait for @hafen to get back.

[2019-01-30 08:20] yiugn opened #238 "Rbokeh barplot reordered by x-axis"
Here is a simple example of barplot expressed in Rbokeh.

    library(rbokeh)

    # total yield per variety
    figure() %>%
      ly_bar(variety, yield, data = lattice::barley, hover = TRUE) %>%
      theme_axis("x", major_label_orientation = 90)

Result are shown as below

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/iBRdg.png

**Question 1)**
I want to plot bars, r

[2019-02-04 15:48] Atrebas commented on #238
Question 1:
You have to pass the order explicitly in xlim. See #206.
[code]
Question 2:
Maybe a problem of version. I don't have the issue with `rbokeh_0.5.0`.

[2019-02-06 13:11] yiugn commented on #238
Thank you Atrebas, your comment was helpful, but what I want is to order x axis by y axis value in decreasing order.
 For example, the first x axis data should be Trebi, Wisconsin No.38, because they have the greatest yield, and next No.457, and No.462 ...... and so on.
 How can I do this?

[2019-02-06 18:01] Atrebas commented on #238
I thought my answer would be enough to guide you. Instead of using the levels as above, you just have to provide the order you want. How to compute this order is a general R question.
Below is an an example, using `data.table` for convenience.
[code]

[2019-02-07 12:35] yiugn commented on #238
Thank you Atrebas, I've got a solution thanks to your help.
I simply converted columns to factors and set it xlim.
Now it works well!

[2019-04-05 01:50] JauntyJJS opened #239 "indefinite loading time of some plots"
Hi,

I am using trelliscopejs with rbokeh for the first time and encountered some issues when i tried to create a trellis of around 740 pages with each page containing 4 scatter plots and each scatter plot has around 200 points

I have managed to created the webpage but there seems to be some plots that take an indefinite time to load

![image](https://user-images.githubusercontent.com/9066508/555

[2019-04-05 06:37] bryevdv commented on #239
@hafen will have to comment definitively when he gets back later this month, but my guess is that trelliscope is similar to reveal.js slideshows, and everything is actually on one giant page with "virtual" subpages?  If so I can definitely confirm that before Bokeh 1.1, ~3000 bokeh plots would take approximately infinite time to load. Even with 1.1, which dramatically improves some performance, a

[2019-04-05 14:53] JauntyJJS commented on #239
Hi,

Noted
I will use the plotly graphs for now provided in
https://ryanhafen.com/blog/trelliscopejs-plotly/
The plotly version did not give me any loading issues.

[2019-04-05 14:56] bryevdv commented on #239
@hafen it occurs to me (when you are back) that theist thing here is actually probably to use the recent `json_items` bare JSON format, that could be async fetched using the new `Bokeh.embed_item` JS API:

https://bokeh.pydata.org/en/latest/docs/user_guide/embed.html#json-items

[2019-04-05 22:12] hafen commented on #239
Thanks @bryevdv I'll check that out.

@JauntyJJS I haven't encountered this behavior before. Can you reproduce this with a simple sharable example? If so, if you could share reproducible code and your session info, I can look into it.

[2019-04-06 09:52] JauntyJJS commented on #239
Hi,

The file and R code used are below
[Test_Script.zip](https://github.com/bokeh/rbokeh/files/3050323/Test_Script.zip)

I apologize for the overplotting and failure to create a legend in rbokeh. I do not know how to do it

When the html file is created , some plots like CE17:0 and CE20:2 load indefinitely

![image](https://user-images.githubusercontent.com/9066508/55667830-1effde80-5894-11e9-87f

[2019-05-09 13:50] hamigua3000 opened #240 "Functionality that mimics "span" in bokeh"
Hello, I was wondering whether there is something in rbokeh that mimics the "span" functionality in bokeh. I want to create an infinite horizontal line on my rbokeh graph, and I have not been able to find any way to do this in rbokeh so far.

[2019-06-03 13:11] Atrebas commented on #240
Something like this?

[code]

[2019-07-17 10:51] Melkiades opened #241 "Importing plot from ggplot2 directly into rbokeh?"
If I have already a complex plot in `ggplot2`, is it possible to transform it into a `rbokeh` plot? I used for a while `plotly::ggplotly()` with a low degree of success.

I am really a fan of what you did and I would love to use some of its functionalities. Thanks a lot in advance!

[2019-09-06 12:14] OGuggenbuehl commented on #234
Has there been any progress on this?

[2019-09-23 19:21] hamigua3000 opened #242 "Legend outside graphs? Or next to graphs?"
Hello, I'm working on a shiny app that shows a grid of graphs. I would like to be able to place the legend outside the graphs, either with one legend next to each graph, or one legend for the whole grid of graphs, since they are using the same color/shape attribute. Is this possible, maybe with a hack of some kind? The issue being that the automatic legend for rbokeh appears on the graph, and ofte

[2019-10-01 21:21] colinbrislawn opened #243 "could not find function "ly_abline""
This question should be really easy, but I'm stumped and would appreciate your help.

I have rbokeh install through bioconda, and the `ly_abline()` is missing. It's a mystery! 🕵

[code]

[code]

[2019-10-01 21:24] hafen commented on #243
That's strange that 0.6.3 got installed. That version is under development and has not been released. Was rbokeh installed as a dependency of some other package, in which it might have explicitly pointed to the development branch of this version of rbokeh?

Note that we are hoping to release 0.6 some time soon, but in the mean time, please stick with the released (master branch, CRAN) version.

[2019-10-01 22:41] colinbrislawn commented on #243
Works for me.

I look forward towards 6.0 being released!

It looks like both the [official r chanel](https://anaconda.org/r/r-rbokeh
) and [anaconda chanel](https://anaconda.org/anaconda/r-rbokeh) are shipping 0.6.3, while [conda-forge is shipping 0.5.0](https://anaconda.org/conda-forge/r-rbokeh). Interesting!

[2019-10-01 22:41] #243 closed

[2019-10-01 22:43] hafen commented on #243
Yes very interesting. That's strange since those are just sitting out on obscure branches.

[2019-10-01 22:46] bryevdv commented on #243
Probably worth pinging someone at Anaconda about this.